// COLOR PALLETTE
$Gray: #c3c6c7;
$Gray2: #909090;
$Gray3: #333;
$Gray5: #555;
$GrayA: #aaa;
$GrayD: #ddd;
$GrayE: #eee;
$Gray8: #626262;
$DarkGray: #626262;
$LightGray: #DADADA;
$DarkGray: #333333;
$DarkGray4: #434343;

$Yellow: #FFA800;
$DarkYellow: #AA7005;
$LightYellow: #E79600;

$Pink:#FF3372;
$DarkPink: #FF1961;

$Blue: #66A5D0;
$DarkBlue: #272C32;

$LightYellow2: #F7E897;
$LightYellow3: #C3B14F;



$Red: #AC1A2F;
$RedE: #E70033;
$Black: #303030;
$Blue: #64B4FF;

// FONTS
$MainFont: "Archivo Narrow";
$SecondaryFont: "Oswald";