@import 'vars';

footer#Footer {
	display: block;
	padding-bottom:15px;

	.ContentFooter{
		display: block;
		width: auto;
		.ColumnOne {
			width:620px;			
			background-color: $Gray8;
			display: inline-block;

			.RowOne {
				padding: 10px 0;
				display: flex;
				justify-content: center;

				ul.IconInteres {

					display: inline-block;
					margin: 0;								

					li.Alba {
						display: inline-block;
						a {
						
							display: block;
							content: url(static/images/albatv-bn.png);

							@-moz-document url-prefix() {
								   
							   width: 48px;
							   height: 48px;
							   background: url(static/images/alba48-bn.png);
							   background-repeat: no-repeat;
								   		
							}

						}

					}

					li.Antv {
						display: inline-block;
						a {
							display: block;
							content: url(static/images/antv48-bn.png);

							@-moz-document url-prefix() {
								   
							   width: 48px;
							   height: 48px;
							   background: url(static/images/antv48-bn.png);
							   background-repeat: no-repeat;
								   		
							}

						}

					}

					li.AvilaTv {
						display: inline-block;
						a {
							display: block;
							content: url(static/images/avilatv48-bn.png);

							@-moz-document url-prefix() {
								   
							   width: 48px;
							   height: 48px;
							   background: url(static/images/avilatv48-bn.png);
							   background-repeat: no-repeat;
								   		
							}	

						}

					}

					li.Avn {
						display: inline-block;
						a {
							display: block;
							content: url(static/images/avn48-bn.png);

							@-moz-document url-prefix() {
								   
							   width: 48px;
							   height: 48px;
							   background: url(static/images/avn48-bn.png);
							   background-repeat: no-repeat;
								   		
							}

						}

					}

					li.LaRadioDelSur {
						display: inline-block;
						a {
							display: block;
							content: url(static/images/rds48-bn.png);

							@-moz-document url-prefix() {
								   
							   width: 48px;
							   height: 48px;
							   background: url(static/images/rds48-bn.png);
							   background-repeat: no-repeat;
								   		
							}

						}

					}

					li.Rnv {
						display: inline-block;
						a {
							display: block;
							content: url(static/images/rnv48-bn.png);

							@-moz-document url-prefix() {
								   
							   width: 48px;
							   height: 48px;
							   background: url(static/images/rnv48-bn.png);
							   background-repeat: no-repeat;
								   		
							}

						}

					}

					li.Telesur {
						display: inline-block;
						a {
							display: block;
							content: url(static/images/telesur48-bn.png);

							@-moz-document url-prefix() {
								   
							   width: 48px;
							   height: 48px;
							   background: url(static/images/telesur48-bn.png);
							   background-repeat: no-repeat;
								   		
							}

						}

					}

					li.Teves {
						display: inline-block;
						a {
							display: block;
							content: url(static/images/tves48-bn.png);

							@-moz-document url-prefix() {
								   
							   width: 48px;
							   height: 48px;
							   background: url(static/images/tves48-bn.png);
							   background-repeat: no-repeat;
								   		
							}

						}

					}

					li.Vive {
						display: inline-block;
						a {
							display: block;
							content: url(static/images/vive48-bn.png);

							@-moz-document url-prefix() {
								   
							   width: 48px;
							   height: 48px;
							   background: url(static/images/vive48-bn.png);
							   background-repeat: no-repeat;
								   		
							}

						}

					}

					li.YVKMundial {
						display: inline-block;
						a {
							display: block;
							content: url(static/images/yvke48-bn.png);

							@-moz-document url-prefix() {
								   
							   width: 48px;
							   height: 48px;
							   background: url(static/images/yvke48-bn.png);
							   background-repeat: no-repeat;
								   		
							}

						}

					}

				}

			}

			.RowTwo {

				padding: 10px 0;				
				display: flex;
  				justify-content: center;
				
				.ColumnOne {

					display: inline-block;
					vertical-align: top;
					width: 150px;					


					ul.MenuElCanal {

						display: inline-block;
						list-style:none;
						margin: 0;

						li {
							color: #fff;
							font-size: .9em;
							font-weight: 700;
							font-family: $MainFont;

							a {
								text-decoration: none;							
								font-weight: 500;
								font-size: .8em;
								font-family: $SecondaryFont;							
							}
							a:hover {
								color: $Gray3;

							}

						}

					}

				}
				.ColumnTwo {

					display: inline-block;
					vertical-align: top;
					width: 150px;			


					ul.MenuMultimedia {

						list-style:none;
						display: inline-block;
						margin: 0;

						li {
							color: #fff;
							font-size: .9em;
							font-weight: 700;
							font-family: $MainFont;

							a {
								text-decoration: none;							
								font-weight: 500;
								font-size: .8em;
								font-family: $SecondaryFont;							
							}
							a:hover {
								color: $Gray3;

							}

						}

					}

				}

				.ColumnThree {

					display: inline-block;
					vertical-align: top;
					width: 150px;					

					ul.MenuNoticias {

						list-style:none;
						display: inline-block;
						margin: 0;

						li {
							color: #fff;
							font-size: .9em;
							font-weight: 700;
							font-family: $MainFont;

							a {
								text-decoration: none;							
								font-weight: 500;
								font-size: .8em;
								font-family: $SecondaryFont;							
							}
							a:hover {
								color: $Gray3;

							}

						}

					}

				}				

			} 
			
			.RowThree {
				position: relative;
				padding: 10px 0;
				display: flex;
				justify-content: center;

				.ColumnOne {
					display: flex;
					width: auto;
					float: left;
					margin-left: -120px;

					ul.MenuSocial {

						list-style:none;
						display: inline-block;
						margin: 0;

						li.Instagram {

							display: inline-block;

							a {
					
								display: block;
								content: url(static/images/instagram-footer.png);

								@-moz-document url-prefix() {
								   width: 50px;
								   height: 47px;
								   background: url(static/images/instagram-footer.png);
								   background-repeat: no-repeat;
								   		
								}

							}

						}

						li.Twitter {

							display: inline-block;

							a {
					
								display: block;
								content: url(static/images/twitter-footer.png);

								@-moz-document url-prefix() {
								   
								   width: 50px;
								   height: 47px;
								   background: url(static/images/twitter-footer.png);
								   background-repeat: no-repeat;
								   		
								}

							}

						}

						li.Vine {

							display: inline-block;

							a {
					
								display: block;
								content: url(static/images/vine-footer.png);

								@-moz-document url-prefix() {
								   
								   width: 50px;
								   height: 47px;
								   background: url(static/images/vine-footer.png);
								   background-repeat: no-repeat;
								   		
								}

							}

						}

						li.Facebook {

							display: inline-block;

							a {
					
								display: block;
								content: url(static/images/facebook-footer.png);

								@-moz-document url-prefix() {
								   
								   width: 50px;
								   height: 47px;
								   background: url(static/images/facebook-footer.png);
								   background-repeat: no-repeat;
								   		
								}

							}

						}
						li.YouTube {

							display: inline-block;

							a {
					
								display: block;
								content: url(static/images/youtube-footer.png);

								@-moz-document url-prefix() {
								   
								   width: 50px;
								   height: 47px;
								   background: url(static/images/youtube-footer.png);
								   background-repeat: no-repeat;
								   		
								}

							}

						}

						li.Vtv {

							display: inline-block;

							a {
					
								display: block;
								content: url(static/images/historico-vtv-footer.png);

								@-moz-document url-prefix() {
								   
								   width: 70px;
								   height: 59px;
								   background: url(static/images/historico-vtv-footer.png);
								   background-repeat: no-repeat;
								   		
								}

							}

						}

					}

				}

				.ColumnTwo {
					display: flex;
					position: absolute;
					right: 15px;			   
				    margin: 40px 0 0 20px;		    

				   .Search {

							display:block;						

							form.FormSearch {

							    display: block;						   					   						    					

							    input.SearchField {
									display: block;
									background: url(static/images/icon-search.png) no-repeat 150px, white;							
								   	cursor: pointer;
								   	border: none;
								   	height: 20px;

							   		@-moz-document url-prefix() {

								   		width: 170px;
								   		
								   	}
								
								}

							}

					}

				}

			}

		}

		.ColumnTwo {
			display: inline-block;
			vertical-align: top;		
						
			.Widget {

				width: 320px;
				margin-left: 10px;	
				
				img {
					width: 325px;
					height: 292px;
				}				

			}

		}


	}


}
