@import 'vars';
@import 'mixins';

main#Main {

	display: block;
	margin: 0 auto;
	padding: 0 20px;
	width: 960px;
	background-color: white;

	.Inner {

		display: block;

		.RowOne {

			display: block;
			vertical-align: top;

			.Inner {

				display: block;

				.MainContent{

					display: inline-block;
					width: 620px;
					text-align: justify;

					.Inner {

						display: inline-block;

						.SinglePost { 

							padding:10px 10px 10px 10px;

							.PostTitle{

								font-size: 1.5em;
								color: $Gray3;
								font-weight: 700;
								margin:10px 0px 10px 0px;
								display: block;
							}

							.PostDate{

								display: inline-block;
								font-size: 0.8em;							
								margin:10px 0px 10px 0px;								

							}
							.Author{

								display: inline-block;
								font-size: 0.9em;							
								margin:10px 0px 10px 0px;	
								font-weight: 700;							

							}

							.PostTags{

								display: block;
								font-size: 1em;
								margin:5px 0px 5px 0px;

								a {

									display: inline-block;
									margin: 0;							
									background-color: $Gray;
									font: {
										family: $SecondaryFont;
										size: .8em;
									}
									text: {
										decoration: none;
									}
									&:hover {
										color: $Gray3;
									}
								}

							}

							.PostContent{
								display: block;
								
								p {
									font-size: 1em;

								}

							}

						}

					}

				}

				

				.SidebarSingle {

					display: inline-block;
					vertical-align: top;
					width: 316px;
					margin-left: 20px;

					.Block {

						display: block;

						.Inner {
						
							display: block;

							
			     			.LineView {

						        border-bottom: 1px solid $LightGray;

			    			}

			    			.BlockTitle {

								display: block;
						       	border-right: 15px solid transparent;
			    				border-bottom: 25px solid $Gray8;
			    				height: 0;
			    				width: 86px;

			    				span.TitleLastView {

			    					display: block;
									color: #fff;
									font: {
										family: $SecondaryFont;			
										size: 0.8em;	
										weight: bold;

									}

									padding: 3px;
									text-transform: uppercase;
			    		
			    				}

			    			}

							.BlockContent {

								display: block;
								padding: 10px;
								margin-bottom: 20px;

								.Title {

									margin-bottom: 10px;

									a {
										text-decoration: none;
										color: $DarkGray;
										font-weight: 500;
										font-size: .9em;
										font-family: $SecondaryFont, sans-serif;
									}

								}

							}

						}						

					}

				}

			}

			.ContentGallery{
                    display: inline-block;
                    width: 960px;
                    text-align: justify;
                    margin-bottom:80px;

                    .InnerGallery {
                        display: inline-block;
                        width: 960px;
    
                        .SinglePostGallery {



                            .PostTitleGallery{
                            	font-family: $SecondaryFont, sans-serif;
                                font-size: 0.9em;
                                color: $Black;
                                font-weight: 700;
                                margin:20px 0px 40px 0px;
                                background:$GrayE;
                                display: block;
                                padding: 5px 5px 5px 5px;
                             
                            }

                            .PostDateGallery{

                                display: inline-block;
                                font-size: 0.8em;                            
                                margin:10px 0px 10px 0px;                                

                            }

                        }

                    }

                }

		}

		.RowTwo{

			width: 620px;
			display: inline-block;

		.TitleBorder {

			display: inline-block;
			width: 100%;
	        border-bottom: 1px solid $LightGray;
	        margin-bottom: 10px;
	        margin-top: 20px;

	        .CategoryTitle {

	        	position: relative;
	        	float: left;
	        	padding: 3px;
	        	color: white;
	        	background-color: $Gray8;
	        	font-family: $SecondaryFont;
	        	font-size: 0.85em;
	        	font-weight: 700;
	        	height: 18px;
	        	text-transform: uppercase;	        		

	        	&:before {
	        		position: absolute;
	        		top: 0;
	        		right: -15px;
	        		content: "";
	        		border-top: 24px solid transparent;
	        		border-left: 15px solid $Gray8;
	        	}

	        }

	        a.CategoryReadMore{

        			text-decoration: none;
        			text-transform: uppercase;
        		}

	        .CategoryReadMore {

	        	position: relative;
	        	float: right;
	        	margin-left: 16px;
	        	padding: 9px 3px 3px 26px;
	        	color: $Yellow;
        		font-weight: 700;
        		font-size: 0.7em;

	        }

		}


				/*Título dos*/	


				.TitleContentTwoTwo{
					display: inline-block;
					content: "Ver Más";
				}

				.TitleContentTwoTwo:before {

					display: inline-block;
					position:absolute;
				    width: 70px;
				    height: 0;
				    border-top: 25px solid $RedE;
				    border-left: 15px solid transparent;
				    vertical-align: top;
				    margin-left: -18px;
				    content: '';


				}

				.TitleContentTwoTwo:after {

					display: inline-block;
					position:absolute;
				    width: 10px;
				    height: 0;
				   	border-right: 15px solid transparent;
    				border-bottom: 25px solid $RedE;
				    vertical-align: top;
				    margin-left: -18px;
				    content: '';
				   	top: 1022px;
    				left: 656px;					


				}					    


				span.TitleSpanContentTwoTwo {
					background-image: url(static/images/icon-morenews.png);
					background-position: left center;
					background-repeat: no-repeat;
					position:relative;
					display: block;
					color: #fff;
					font: {

						family: $SecondaryFont;			
						size: 0.8em;	
						weight: bold;

					}

					p{
						margin-left: 20px;
					}

					padding: 3px 3px 3px 3px;
		
				}	
				



		.ColumnOne{

			width: 204px;
			display: inline-block;
			vertical-align: top;

		

			.PostColumn{
				width: 204px;
			
				a{
					font-size: 1.2em;
					text-decoration: none;
				}	

				.PostTitle{
					width: 204px;

					a{
						color: $DarkGray;
						font-size: 1em;
						font-weight: 600;
					}
				}

				
			}

		}



			.Rows{
				/*display: inline-block;*/
				width: 620px;

				.PostColumn{
					float: left;
					width: 200px;
					margin-left: 5px;
				}

					.PostTitle{
						width: 200px;

							a{
								color: $DarkGray;
								font-size: 1em;
								font-weight: 600;
								text-decoration: none;
							}
					}
			}


				.Widget {

					display: block;
					width: 620px;
					margin-top: 10px;
					margin-bottom: 10px;

						img{
							width: 620px;
						}

				}


				.RowProgramOpinion{

					width: 960px;
					margin-top: 20px;
					display: block;
    				float: left;
    				background-color: $DarkGray4;

					.ProgramMoreView{

						background-color: $DarkGray4;
	    				width: 626px;
	    				float: left;



					}

					.Opinion{

						background-color: $LightYellow;
	    				width: 334px;
	    				float: left;



					}


					.ProgramTitle {

				        display: inline;
				        vertical-align: top;

				        .ProgramBack {

				        	position: relative;
				        	float: left;
				        	padding: 7px;
				        	color: $Yellow;
				        	background-color: $DarkGray;
				        	font-family: $SecondaryFont;
				        	font-size: 0.85em;
				        	font-weight: 700;
				        	height: 18px;
				        	text-transform: uppercase;	  
				        	width: 612px; 		
						}

					}


					.OpinionTitle {

					    float: left;
					    vertical-align: top;

				        .OpinionBack {

				        	position: relative;
				        	float: left;
				        	padding: 7px;
				        	color: white;
				        	background-color: $DarkYellow;
				        	font-family: $SecondaryFont;
				        	font-size: 0.85em;
				        	font-weight: 700;
				        	height: 18px;
				        	text-transform: uppercase;	  
				        	width: 320px; 		
						}

					}	


						.ProgramRows{

							display: inline-block;
							width: 620px;
							margin-top: 10px;

							.PostColumn{
								float: left;
								width: 200px;
								margin-left: 5px;
								a img{
									margin-bottom: 10px;
									margin-top: 25px;
								}

							}

							.PostTitle{

								width: 200px;

									a{
										color: white;
										font-size: 1em;
										font-weight: 600;
										text-decoration: none;

									}
							}
						}


						.OpinionRows{

							margin-top: 10px;
							margin-left: 35px;
							width: 200px;

							.PostColumn{
								width: 290px;
								margin-top: 10px;
							}

							.PostTitle{
								width: 290px;

									a{
										color: white;
										font-size: 1em;
										font-weight: 600;
										text-decoration: none;
									}
							}
						}	

						.OpinionReadMore{

							background-color: $DarkGray4;
							height: 20px;

							a{
								text-decoration: none;
								float: right;
								color: $DarkYellow;
								font-weight: 700;
								margin-right: 10px;
							}
						}

						

			}

			.ContentScience {

				display: block;
				width: 960px;

				.ContentOne {

					display: inline-block;
					vertical-align: top;
					width: 620px;

				}

				.ContentTwo {

					display: inline-block;
					vertical-align: top;
					width: 320px;

					.Widget {

						display: block;

						img {

							width: 337px;
							height: 437px;

						}

					}

				}

			}

			.ContentGallery{

				background: black;
    			width: 960px;
    			height: 515px;

    				.TitleGallery{

    					color: white;
    					padding: 20px;
    					text-transform: uppercase;
    					font-family: $SecondaryFont;
    					font-size: 0.85em;
    					font-weight: 700;
    				}

    				.ColumnOneGallery{
    					width: 625px;
    					float: left;
    					margin-left: 5px;
    					position:relative;

    					.PostTitleGalleryOne{
    						position:absolute;
    						bottom: 40px;
						    left: 35px;
						    width: 200px;    					

    						a {
    							color:white;
    							text-decoration: none;
    							font-weight: 700;
    							font-size: 1em;
    						}
    					}
    				}

    				.ColumnTwoGallery{
    					width: 330px;
					    float: left;
					    position:relative;

					    .PostTitleGalleryTwo{
    						position:absolute;
    						bottom: 30px;
						    left: 15px;
						    width: 300px; 

						    a {
    							color:white;
    							text-decoration: none;
    							font-weight: 700;
    							font-size: 1em;
    						}
    					}

    				}

    				.ColumnThreeGallery{
    					width: 330px;
					    float: left;
					    position:relative;

					    .PostTitleGalleryThree{
    						position:absolute;
    						bottom: 30px;
						    left: 15px;
						    width: 300px; 

						    a {
    							color:white;
    							text-decoration: none;
    							font-weight: 700;
    							font-size: 1em;
    						}
    					}

    					.PostColumnThree{
    						margin-top: 6px;
    					}

    				}
			}

			

			.TitleBorderVenezuelans {

				display: inline-block;
				width: 960px;
		        border-bottom: 1px solid $LightGray;
		        margin-bottom: 10px;
		        margin-top: 20px;

	        		.CategoryTitleVenezuelans {

			        	position: relative;
			        	float: left;
			        	padding: 3px;
			        	color: white;
			        	background-color: $Gray8;
			        	font-family: $SecondaryFont;
			        	font-size: 0.85em;
			        	font-weight: 700;
			        	height: 18px;
			        	text-transform: uppercase;

			        	&:before {
			        		position: absolute;
			        		top: 0;
			        		right: -15px;
			        		content: "";
			        		border-top: 24px solid transparent;
			        		border-left: 15px solid $Gray8;
			        	}

	        		}

			}

			
			.RowsVenezuelans{

				.Widget {

					display: block;
					width: 9;
					margin-bottom: 20px;

						img{
							width: 960px;
						}

					}
				}


			.MarqueeWArea {

			display: block;
			width: 960px;
			margin: {
				
				top: 5px;
    			bottom: 5px;
    		}
		    	.MarqueeTitle {
					display: block;
					background: $GrayE;
					color: $Red;
					font-weight: 700;
					font-size: .8em;
					font-family: $SecondaryFont;
					padding: 5px 5px 5px 5px;
					vertical-align: top;
					float: left;			    
			    }
				    .MarqueeEconomic {
				    	display: block;
						background: $DarkGray;
						vertical-align: top;			
						padding: 5px 5px 5px 5px;			
						overflow: hidden;

						a {
							padding-left: 15px;
							font-size: .8em;
							font-family: $MainFont;
							color: #fff;
							text-decoration: none;

							&:hover {
								opacity: .6;
							}

							&:before {
								content: "·";
							}

							&:first-child {
								padding-left: 0;

							}

						}

				    }
		
				}

			.ContentDiary{
				width: 960px;

				.Diary{

					display: inline-block;
					vertical-align: top;
					width: 700px;
					height: 350px;

						.ColumnOneDiary{

							width: 230px;
							display: inline-block;
							background-color: $LightYellow2;
							border-top: 5px solid $DarkPink;
							margin-right: -4px;
							vertical-align: top;
    						height: 376px;

							.PostColumn{

								img{
									width: 210px;
    								padding: 10px;
								}
							}

							p{
								color: white;
								font-weight: 700;
								padding: 10px;
							}
							
							.MainPostExcerpt{
								height: auto;
								overflow: hidden;
								display: block;
								p {
								display: none;
								}
							}
						}

						.ColumnTwoDiary{

							width: 230px;
							display: inline-block;
							background-color: $Blue;
							border-top: 5px solid $DarkBlue;
							margin-right: -4px;
							vertical-align: top;
    						height: 376px;

							.PostColumn{

								img{
									width: 210px;
    								padding: 10px;
								}
							}

							p{
								color: white;
								font-weight: 700;
								padding: 10px;
							}

						
							.MainPostExcerpt{
								height: auto;
								overflow: hidden;
								display: block;
								p {
								display: none;
								}

							}
						}

						.ColumnThreeDiary{
							width: 230px;
							display: inline-block;
							background-color: $Pink;
							border-top: 5px solid $LightYellow3;
							vertical-align: top;
    						height: 376px;

							.PostColumn{

								img{
									width: 210px;
    								padding: 10px;
								}
							}

							p{
								font-weight: 700;
								color: $DarkGray;
								padding: 10px;
							}
							
							.MainPostExcerpt{
								height: auto;
								overflow: hidden;
								display: block;
								p {
								display: none;
								}

							}
						}


				}

				.BannerDiary{

					width: 255px;
    				display: inline-block;
    				margin-top: -10px;

    				.Widget {

						display: block;
						width: 270px;
						margin-left: -14px;

						img{
							width: 270px;
						}

					}


				}

			}

		}

			.Sidebar{

				width: 335px;
				display: inline-block;
				vertical-align: top;
				margin-top: 20px;

				.Block {

					display: block;

					.Inner {
						
						display: block;

							
			     			.LineView {

						        border-bottom: 1px solid $LightGray;

			    			}
			    			.BlockTitle {

								display: block;
						       	border-right: 15px solid transparent;
			    				border-bottom: 25px solid $Gray8;
			    				height: 0;
			    				width: 86px;

			    				span.TitleLastView {

			    					display: block;
									color: #fff;
									font: {
										family: $SecondaryFont;			
										size: 0.8em;	
										weight: bold;

									}

									padding: 3px 3px 3px 3px;
									text-transform: uppercase;
			    		
			    				}

			    			}

							.BlockContent {

								display: block;
								padding: 10px;
								margin-bottom: 20px;

									.Title {

										a {
											text-decoration: none;
											color: $DarkGray;
											font-weight: 500;
											font-size: .9em;
											font-family: $SecondaryFont, sans-serif;
										}

										.Date{
										font-size: 0.9em;
										color: $Yellow;
									}

									}

								}

							}		

							

						}

				.Widget {

					display: block;
					width: 335px;
					margin-bottom: 20px;

						img{
							width: 335px;
						}

				}
			}

		section.Category {
			display: block;	
			margin-top: 10px;
			.CategoryTitleDefault {

				display: block;
				background-color: $Gray;
				font-size: .8em;
				font-family: $SecondaryFont;
				color: black;
				padding: 5px 5px;
				font-weight: 700;
				vertical-align: top;

			}

			.CategoryContent {

				width: 620px;
				display: inline-block;			

				.CatPostImg {

					display:inline-flex;

					article.CatPostColumnOne {

						display: inline-block;	
						margin: 10px 10px 10px 0;
						float: left;

						a.CatThumbnail {
							display: block;	
							vertical-align: top;
							float: left;				
							
							img{
								opacity: .8;								
							
								&:hover {
									opacity: 1;

								}

							}

						}
						
					}

					article.CatPostColumnTwo {

						display: block;
						margin-top:10px;

						.CatPostInfo {

							display: block;
							width: 400px;
							float: right;

							span.CatPost {

								display: block;				 
								font: {

									size: 1.2em;
									family: $MainFont;	
									weight: 700;			
								}

								a {

				    				display: block;
									text-decoration: none;					
									color: $Black;
								}

							}

							.CatPostExcerpt {
								display: block;
								text-align: justify;
								margin-top: 5px;
								margin-bottom: 5px;
								font: {

									size: .9em;

								}

								.TitleSeeMore {					
								    display: block;
								    background-color: $Gray8;
								    width: 72px;						    

							    	span.ContentSeeMore {
										display: block;
										padding: 5px 5px 5px 5px;
										background-image: url(static/images/icon-morenews.png);
										background-position: left center;
										background-repeat: no-repeat;										

										p {
											margin-left: 20px;
										}

										a {
											text-decoration: none;
											color: #fff;
											font: {

												size: .8em;	
												weight: bold;

											}
										}
							
									}
							
								}

							}
							
						}

					}

				}
				.CatPostWithoutImg {

					display:inline-flex;
					width: 100%;

					article.CatPostColumnTwo {

						display: block;
						margin-top:10px;

						.CatPostInfo {

							display: block;				

							span.CatPost {

								display: block;				 
								font: {

									size: 1.2em;
									family: $MainFont;	
									weight: 700;			
								}

								a {

				    				display: block;
									text-decoration: none;					
									color: $Black;
								}

							}

							.CatPostExcerpt {
								display: block;
								text-align: justify;
								margin-top: 5px;
								margin-bottom: 5px;
								font: {

									size: .9em;

								}

								.TitleSeeMore {					
								    display: block;
								    background-color: $Gray8;
								    width: 70px;						    

							    	span.ContentSeeMore {
										display: block;
										padding: 3px;
										background-image: url(static/images/icon-morenews.png);
										background-position: left center;
										background-repeat: no-repeat;										

										p {
											margin-left: 20px;
										}

										a {
											text-decoration: none;
											color: #fff;
											font: {

												size: .8em;	
												weight: bold;

											}
										}
							
									}
							
								}

							}
							
						}

					}

				}

			}

			.SidebarCategory {

				display: inline-block;
				vertical-align: top;
				width: 316px;
				margin-left: 20px;

				.Block {

					display: block;

					.Inner {
					
						display: block;

						
		     			.LineView {

					        border-bottom: 1px solid $LightGray;

		    			}

		    			.BlockTitle {

							display: block;
					       	border-right: 15px solid transparent;
		    				border-bottom: 25px solid $Gray8;
		    				height: 0;
		    				width: 86px;

		    				span.TitleLastView {

		    					display: block;
								color: #fff;
								font: {
									family: $SecondaryFont;			
									size: 0.8em;	
									weight: bold;

								}

								padding: 3px;
								text-transform: uppercase;
		    		
		    				}

		    			}

						.BlockContent {

							display: block;
							padding: 10px;
							margin-bottom: 20px;

							.Title {

								margin-bottom: 10px;

								a {
									text-decoration: none;
									color: $DarkGray;
									font-weight: 500;
									font-size: .9em;
									font-family: $SecondaryFont, sans-serif;
								}

							}

						}

					}						

				}

			}

		}

	
		.Search {

			display: block;

			.SearchForm {

				display: block;
				margin-bottom: 20px;
				padding: 20px 100px;
				background-color: $Gray;
				border-bottom: 3px solid $DarkGray;

				.Form {

					display: block;
					text-align: center;
					width: 828px;

					input.SearchInput {
						display: inline-block;
						vertical-align: top;
						padding: 10px;
						color: $DarkGray;
						width: 750px;
						font-family: $SecondaryFont;
						font-size: 1.3em;
						background-color: white;
						border: 1px solid $Gray;
					}

					input.SearchButton {
						display: inline-block;
						vertical-align: top;
						margin: 0;
						width: 52px;
						height: 52px;
						background-color: $DarkGray;
						background-image: url(static/images/icon-search-big.png);
						background-repeat: no-repeat;
						border: none;
						cursor: pointer;
					}

				}

			}

			.SearchResults {

				display: block;

				.Inner {

					counter-reset: article;

					article.Post {

						display: block;
						margin-bottom: 1px;
						padding: 10px;
						border-bottom: 1px solid $Gray;
						@include transition(.2s);

						.Inner {

							display: inline-block;
							vertical-align: middle;
							width: 960px;

							.PostTitle {
								color: $Gray;
								font-family: $SecondaryFont;
								font-size: 1.2em;
								font-weight: 700;
								text-decoration: none;
							}

							.PostExcerpt {
								color: $Gray;
								font-family: $SecondaryFont;
								font-size: .8em;
								font-weight: normal;
								text-decoration: none;
							}

						}

					}

					article.Post:before {
						counter-increment: article;
						content: counter(article);
						display: inline-block;
						vertical-align: middle;
						width: 40px;
						color: $DarkGray;
						font-family: $SecondaryFont;
						font-size: 2em;
						text-align: center;
					}

					article.Post:hover {
						border-bottom: 1px solid $Yellow;
					}

				}

			}

		}


					.NavPag {

						display: block;
						margin: 20px 0;

						.page-numbers {

							display: inline-block;
							padding: 5px 10px;
							color: white;
							background-color: $DarkGray;
							text-decoration: none;
							@include transition(.3s);

						}

						.page-numbers:hover {

							color: $Yellow;
							background-color: $DarkGray;

						}

						.current {

							color: $Yellow;
							background-color: $DarkGray;

						}

						.dots {

							color: $Yellow;
							background: none;

						}

						.Pagination {

							display: block;
							margin-bottom: 50px;

							.PaginationInfo {
								padding: 10px;
								color: white;
								background-color: $Gray8;
								box-shadow: 0px 2px 2px 0px rgba(0,0,0,.2);
							}

							.PaginationPage {

								padding: 10px 20px;
								margin-left: 1px;
								color: white;
								background-color: $Gray8;
								box-shadow: 0px 2px 2px 0px rgba(0,0,0,.2);
								text-decoration: none;
								transition: .3s;

								&:hover {
									background-color: $Gray8;
								}

							}

							.PaginationCurrent {

								color: white;
								background-color: $DarkGray;

								&:hover {
									background-color: white;
								}

							}

						}

					}



			.Gallery {

				margin-top:10px;
				display:block;
				width: 960px;

				.TitleGallery{
					display: block;
					background-color: $Gray;
					font-size: .8em;
					font-family: $SecondaryFont;
					color: black;
					padding: 5px 5px;
					font-weight: 700;
					vertical-align: top;	
				}		

				.ListGallery{
					display:block;
					vertical-align: top;

						.ColumnOneGallery{
	    					width: 960px;
	    					display: inline-block;
	    					margin: 15px;    					
								
								article.PostColumn {

									float:left;
									margin: 5px;
									width: 300px;
									background-color: white;
									box-shadow: 0px 2px 2px 0px rgba(0,0,0,.2);
									height: 350px;

										& > a {

											display: block;
											margin-bottom: 20px;

											img {
												display: block;
												width: 100%;
												height: auto;
											}
										}
							}


							span.PostTitle {

								width: 270px;
								display: block;
								margin-bottom: 20px;
								margin-left: 20px;
								margin-right: 20px;

									a {
										color: $Gray3;
										text-decoration: none;
										transition: .3s;
										font-weight: 700;


										&:hover {
											color: $Gray2;
										}
									}

							}

							span.GalleryDate{
								font-size: 0.9em;
								margin: 22px;
							}
    					}

    				}



	}	


    		.LastNews{

    			width: 960px;
    			display: block;

    				.BlockTitle{
    					margin-top: 60px;
    					margin-bottom: 10px;
    					padding: 15px;
    					width: 920px;
    					border-top: solid #89bf40;
    					.TitleLastView{
    						font-weight: 700;
    						font-size: 1.2em;
    					}
    				}

    			.ColumnOne{

    				width: 960px;
    				display: inline-block;   					
							
						article.PostColumn {
							float:left;
							margin: 5px;
							width: 150px;
							height: auto;
						}


						span.PostTitle {

							width: 100px;
							display: block;
							margin-bottom: 20px;
							margin-left: 20px;
							margin-right: 20px;

								a {
									color: $Gray3;
									text-decoration: none;
									transition: .3s;
									font-weight: 700;

										&:hover {
											color: $Gray2;
										}
									}

							}
    					}

    		}
			.NotFound{

    			width: 960px;
    			display: block;

    				.BlockTitleNotFound{
    					margin-top: 5px;
    					margin-bottom: 5px;
    					padding: 5px;
    					width: 950px;
    					text-align: center;

    					.TitleNotFound{
    						font-weight: 700;
    						font-size: 2.2em;
    					}
    				}

    			.ColumnOne{

    				width: 960px;
    				display: inline-block; 
					img{
						width: 960px;
					}
    			}

    		}
    		.LastNewsNotFound{

    			width: 960px;
    			display: block;

    				.BlockTitle{
    					margin-top: 60px;
    					margin-bottom: 10px;
    					padding: 15px;
    					width: 920px;
    					border-top: solid #ff751c;
    					.TitleLastView{
    						font-weight: 700;
    						font-size: 1.2em;
    					}
    				}
    			.ColumnOne{

    				width: 960px;
    				display: inline-block;   					
							
					article.PostColumn {
						float:left;
						margin: 5px;
						width: 150px;
					}

					span.PostTitle {

						display: block;
						margin-bottom: 20px;
						/*margin-left: 20px;
						margin-right: 20px;*/
						text-align: justify;
						overflow: hidden !important;

						a {
							color: $Gray3;
							text-decoration: none;
							transition: .3s;
							font-weight: 700;

							&:hover {
								color: $Gray2;
							}
						}
					}
				}
    		}
	}

	.Live{
		display: inline-block;
		width: 480px;
    		height: 370px;

		
	}



		
}

.PostContent  img {
	width: auto;
	height: auto;
}

div.amazingslider-box-1 div:nth-child(3) { 
   visibility: hidden !important;
   width:0 !important;
   height: 0 !important;
   padding: 0 !important;
   overflow: hidden !important;
}

.page {

	#Main {

		.Inner {

			.RowOne {

				.Inner {

					display: block !important;

					.SinglePost {

						header {

							.PostTitle {

								background-color: #9A212A;
								color: #fff !important;
								padding: 10px;
								font-weight: 500 !important;

							}

						}

					}

				}

			}

		}

	}

}