@import 'vars';

header#Header {

	display: block;
	background-color: white;

	.Inner {
		
		display: flex !important;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;


		.Banner {

			width: 960px;

			img{
				width: 960px;
			}
		}

		nav#Nav {

			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			margin-top: 5px;
			margin-bottom: 5px;
			width: 1000px;

			ul.MainMenu {

				display: inline-block;
				margin: 0;
				list-style: none;
				width: 661px;
				padding: 0;

				li {

					display: inline-block;

					a {
						
						display: block;
						margin: 0;
						padding: 5px 5px;
						color: $Gray2;
						font: {
							family: $SecondaryFont;
							size: .8em;
						}
						text: {
							decoration: none;
							transform: uppercase;
						}
						transition: .2s;

						&:hover {
							color: $Gray3;
						}

					}

				}

			}

			ul.MenuSocial {

				display: inline-block;
				justify-content: stretch;			
				margin: 0;
				width: 300px;
				padding: 0;

				li {

					margin-right: 4px;

				}

				li.Search {
					display: inline-block;

					form.FormSearch {

				    	display: block;

				    	input.SearchField {
							display: block;
							background: url(static/images/icon-search.png) no-repeat 150px, white;							
						   	cursor: pointer;
						   	height: 20px;
						   	
						   	@-moz-document url-prefix() {

						   		width: 170px;

						   	}

					   	}

				    }

				}

				li.twitter {
					
					display: inline-block;

					a {
					
						display: block;
	
						&:before {

							content: url(static/images/icon-twitter.png);


						}

						&:hover:before {

							transition: .2s;
							content: url(static/images/icon-twitter-color.png);
						}

					}			

				}
				li.facebook {
					
					display: inline-block;

					a {
					
						display: block;
	
						&:before {

							content: url(static/images/icon-facebook.png);	

						}

						&:hover:before {
							transition: .2s;
							content: url(static/images/icon-facebook-color.png);
						}

					}			

				}
				li.instagram {
					
					display: inline-block;

					a {
					
						display: block;
	
						&:before {

							content: url(static/images/icon-instagram.png);

						}

						&:hover:before {
							transition: .2s;
							content: url(static/images/icon-instagram-color.png);
						}

					}

				}
				li.vine {
					
					display: inline-block;

					a {
					
						display: block;
	
						&:before {

							content: url(static/images/icon-vine.png);

						}

						&:hover:before {
							transition: .2s;
							content: url(static/images/icon-vine-color.png);
						}

					}

				}
				li.youtube {
					
					display: inline-block;
					//margin-right: 27px;

					a {
					
						display: block;
	
						&:before {

							content: url(static/images/icon-youtube.png);

						}

						&:hover:before {
							transition: .2s;
							content: url(static/images/icon-youtube-color.png);
						}

					}

				}

			}

		

		}
		.MarqueeWArea {

			display: block;
			width: 100%;
			margin: {
				
				top: 5px;
    			bottom: 5px;
    		}
	    	.MarqueeTitle {
				display: block;
				background: $GrayE;
				color: $Red;
				font-weight: 700;
				font-size: .8em;
				font-family: $SecondaryFont;
				padding: 5px 5px 5px 5px;
				vertical-align: top;
				float: left;
		    
		    }
		    .MarqueeContent {
		    	display: block;
				background: $DarkGray;
				vertical-align: top;			
				padding: 5px 5px 5px 5px;			
				overflow: hidden;

				a {
					padding-left: 15px;
					font-size: .8em;
					font-family: $MainFont;
					color: #fff;
					text-decoration: none;

					&:hover {
						opacity: .6;
					}

					&:before {
						content: "·";
					}

					&:first-child {
						padding-left: 0;

					}

				}

		    }
		
		}

	}		

}