@import 'vars';
//@import 'mixins';

.Slider {

	display: inline-block;
	width: 480px;
	height: 300px;

	.Slider-inner {

		position: relative;
		display: block;

		.Slide {

			position: absolute;
			z-index: 0;
			display: block;
			width: 480px;
			height: 300px;
			opacity: 0;

			a {

				display: block;

				img {

					display: block;
					
				}

			}

			.info {

				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				display: block;
				height: 95px;
				width: 480px;
				background-color: rgba(0, 0, 0, 0.83);

				@-moz-document url-prefix() {
					height: 100px;
				}

					.s-category {
						display: inline-block;
						margin-top: 10px;
						padding: 2px 10px;
						color: white;
						font-family: $MainFont, sans-serif;
						font-size: .8em;
						font-weight: 700;
					}

					.cat-default {
						background-color: rgba(162, 162, 162, 0.19);
					}

					.cat-Nacional {
						background-color: rgba(162, 162, 162, 0.19);
					}

					.cat-Internacional {
						background-color: rgba(162, 162, 162, 0.19);
					}


					.s-title {

						display: block;
						margin-top: 10px;
						padding-left: 10px;
						width: 96%;
						overflow: hidden;
						height: 40px;
						
						a {
							color: white;
							font-family: $MainFont, sans-serif;
							font-size: 1.1em;
							font-weight: 700;
							text-decoration: none;

							@-moz-document url-prefix() {
								font-size: 1em;
								width: 400px;
							}

						}

					}

			}

		}

		.Slide-current {
			z-index: 1;
			opacity: 1;
		}

		.Nav {
			display: block;
		}

		.RLBtns {

			position: absolute;
			z-index: 2;
			top: 120px;
			left: 10px;
			right: 10px;
			opacity: 0;
			//@include transition(.2s);

			.RBtn, .LBtn {
				position: absolute;
				display: inline-block;
				width: 46px;
				height: 46px;
				top: 40px;
			}

			.RBtn {
				right: 0;
			}

			.LBtn {
				left: 0;
			}

			.RBtn:before, .LBtn:before {
				display: block;
				content: "";
				padding: 5px;
				width: 36px;
				height: 36px;
				cursor: pointer;
				background-color: rgba(0,0,0,.4);
				background-repeat: no-repeat;
				background-position: center center;
			}

			.RBtn:before {
				background-image: url(static/images/slider-arrow-right.png);
			}			

			.LBtn:before {
				background-image: url(static/images/slider-arrow-left.png);
			}

		}

	}


		.Pointers {

			position: absolute;
			left: 260px;
    		top: 218px;
			margin: 0;
			padding: 0;
			width: 65%;
			list-style: none;
			text-align: center;
			z-index: 1;

			.Pointer {

				display: inline-block;
				width: 20px;
				height: 20px;
				background-image: url(static/images/icon-pointerinactive.png);
				
				background-repeat: no-repeat;
				cursor: pointer;
				transition: .3s;

				&:hover {

					background-image: url(static/images/icon-pointeractive.png);
					background-repeat: no-repeat;

				}

			}

			.PointerCurrent {

				width: 20px;
				height: 20px;
				background-image: url(static/images/icon-pointeractive.png);

			}

		}

}

.Slider:hover {

	.RLBtns {
		opacity: .8;
	}

}
.streaming {
	display: inline-block;
	width: 475px;
	height: 300px;
}
.Gallery {

	display: block;
	max-width: 960px;


		.Gallery-inner {

			position: relative;
			display: block;
			padding-left: 15px;
			padding-bottom: 15px;

				.Slide {

					display: none;

					& > a {

						position: relative;
						display: block;
						max-width: 900px;
						overflow: hidden;
						
						img {

							display: block;
							width: 100%;
							height: auto;
							max-height: 650px;

						}


					}

					.info {

						display: block;
						margin-top: 50px;
						margin-left: 50px;
						position: absolute;
					    left: 0;
					    bottom: 0;


						.s-title {

							display: block;
							margin-bottom: 20px;
							width: 200px;
							margin-left: -30px;

							a {
								
								width: 100%;
								color: white;
								font: {
									family: $SecondaryFont;
									size: 1em;
								}
								text-decoration: none;
								transition: .3s;

								&:hover {
									color: $DarkGray;
								}

							}

						}


					}

				}

				.Slide-current {

				    width: 620px;
				    display: inline-block;
				    position: relative;

				}

				.Nav {

					justify-content: center;
					padding: 6px;
				    display: inline-block;
				    right: 177px;
				    position: relative;
				    top: 0px;
				    background-color: rgba(255, 255, 255, 0.37);

					.Thumb {

						margin: 0 5px;
						opacity: .6;
						border: 3px solid $LightGray;
						transition: .3s;
						position: relative;

						&:hover {
							border-color: $LightYellow;
						}

						.Thumb-title {
							position: absolute;
							top: 0;
							right: -320px;
							width: 300px;
							color: white;
							font-weight: 700;
						}

					}

						.ThumbCurrent {
							opacity: 1;
							border: 3px solid $Red;
						}

				}

				.RLBtns {

					position: absolute;
					top: 42%;
					left: 16px;
					width: 46%;
					max-width: 620px;

					.LBtn {

						float: left;
						width: 48px;
						height: 48px;
						background: {
							color: rgba(0,0,0, .4);
							image: url(static/images/slider-arrow-left.png);
							repeat: no-repeat;
							position: center center;
						}
						cursor: pointer;
						transition: .3s;

						&:hover {

							background-color: black;

						}

					}

					.RBtn {

						float: right;
						width: 48px;
						height: 48px;
						background: {
							color: rgba(0,0,0, .4);
							image: url(static/images/slider-arrow-right.png);
							repeat: no-repeat;
							position: center center;
						}
						cursor: pointer;
						transition: .3s;

						&:hover {

							background-color: black;

						}

					}

				}

				.Pointers {

					position: absolute;
					left: 0;
					bottom: 10px;
					margin: 0;
					padding: 0;
					width: 65%;
					list-style: none;
					text-align: center;

						.Pointer {

							display: inline-block;
							margin-right: 5px;
							width: 16px;
							height: 16px;
							background-color: rgba(0,0,0,.5);
							cursor: pointer;
							transition: .3s;

								&:hover {

									background-color: $Red;

								}

							}

						.PointerCurrent {

							width: 20px;
							height: 20px;
							background-color: white;

							}

						}

					}

		}