footer#Footer {
  display: block;
  padding-bottom: 15px; }
  footer#Footer .ContentFooter {
    display: block;
    width: auto; }
    footer#Footer .ContentFooter .ColumnOne {
      width: 620px;
      background-color: #626262;
      display: inline-block; }
      footer#Footer .ContentFooter .ColumnOne .RowOne {
        padding: 10px 0;
        display: flex;
        justify-content: center; }
        footer#Footer .ContentFooter .ColumnOne .RowOne ul.IconInteres {
          display: inline-block;
          margin: 0; }
          footer#Footer .ContentFooter .ColumnOne .RowOne ul.IconInteres li.Alba {
            display: inline-block; }
            footer#Footer .ContentFooter .ColumnOne .RowOne ul.IconInteres li.Alba a {
              display: block;
              content: url(static/images/albatv-bn.png); }
@-moz-document url-prefix() {
  footer#Footer .ContentFooter .ColumnOne .RowOne ul.IconInteres li.Alba a {
    width: 48px;
    height: 48px;
    background: url(static/images/alba48-bn.png);
    background-repeat: no-repeat; } }
          footer#Footer .ContentFooter .ColumnOne .RowOne ul.IconInteres li.Antv {
            display: inline-block; }
            footer#Footer .ContentFooter .ColumnOne .RowOne ul.IconInteres li.Antv a {
              display: block;
              content: url(static/images/antv48-bn.png); }
@-moz-document url-prefix() {
  footer#Footer .ContentFooter .ColumnOne .RowOne ul.IconInteres li.Antv a {
    width: 48px;
    height: 48px;
    background: url(static/images/antv48-bn.png);
    background-repeat: no-repeat; } }
          footer#Footer .ContentFooter .ColumnOne .RowOne ul.IconInteres li.AvilaTv {
            display: inline-block; }
            footer#Footer .ContentFooter .ColumnOne .RowOne ul.IconInteres li.AvilaTv a {
              display: block;
              content: url(static/images/avilatv48-bn.png); }
@-moz-document url-prefix() {
  footer#Footer .ContentFooter .ColumnOne .RowOne ul.IconInteres li.AvilaTv a {
    width: 48px;
    height: 48px;
    background: url(static/images/avilatv48-bn.png);
    background-repeat: no-repeat; } }
          footer#Footer .ContentFooter .ColumnOne .RowOne ul.IconInteres li.Avn {
            display: inline-block; }
            footer#Footer .ContentFooter .ColumnOne .RowOne ul.IconInteres li.Avn a {
              display: block;
              content: url(static/images/avn48-bn.png); }
@-moz-document url-prefix() {
  footer#Footer .ContentFooter .ColumnOne .RowOne ul.IconInteres li.Avn a {
    width: 48px;
    height: 48px;
    background: url(static/images/avn48-bn.png);
    background-repeat: no-repeat; } }
          footer#Footer .ContentFooter .ColumnOne .RowOne ul.IconInteres li.LaRadioDelSur {
            display: inline-block; }
            footer#Footer .ContentFooter .ColumnOne .RowOne ul.IconInteres li.LaRadioDelSur a {
              display: block;
              content: url(static/images/rds48-bn.png); }
@-moz-document url-prefix() {
  footer#Footer .ContentFooter .ColumnOne .RowOne ul.IconInteres li.LaRadioDelSur a {
    width: 48px;
    height: 48px;
    background: url(static/images/rds48-bn.png);
    background-repeat: no-repeat; } }
          footer#Footer .ContentFooter .ColumnOne .RowOne ul.IconInteres li.Rnv {
            display: inline-block; }
            footer#Footer .ContentFooter .ColumnOne .RowOne ul.IconInteres li.Rnv a {
              display: block;
              content: url(static/images/rnv48-bn.png); }
@-moz-document url-prefix() {
  footer#Footer .ContentFooter .ColumnOne .RowOne ul.IconInteres li.Rnv a {
    width: 48px;
    height: 48px;
    background: url(static/images/rnv48-bn.png);
    background-repeat: no-repeat; } }
          footer#Footer .ContentFooter .ColumnOne .RowOne ul.IconInteres li.Telesur {
            display: inline-block; }
            footer#Footer .ContentFooter .ColumnOne .RowOne ul.IconInteres li.Telesur a {
              display: block;
              content: url(static/images/telesur48-bn.png); }
@-moz-document url-prefix() {
  footer#Footer .ContentFooter .ColumnOne .RowOne ul.IconInteres li.Telesur a {
    width: 48px;
    height: 48px;
    background: url(static/images/telesur48-bn.png);
    background-repeat: no-repeat; } }
          footer#Footer .ContentFooter .ColumnOne .RowOne ul.IconInteres li.Teves {
            display: inline-block; }
            footer#Footer .ContentFooter .ColumnOne .RowOne ul.IconInteres li.Teves a {
              display: block;
              content: url(static/images/tves48-bn.png); }
@-moz-document url-prefix() {
  footer#Footer .ContentFooter .ColumnOne .RowOne ul.IconInteres li.Teves a {
    width: 48px;
    height: 48px;
    background: url(static/images/tves48-bn.png);
    background-repeat: no-repeat; } }
          footer#Footer .ContentFooter .ColumnOne .RowOne ul.IconInteres li.Vive {
            display: inline-block; }
            footer#Footer .ContentFooter .ColumnOne .RowOne ul.IconInteres li.Vive a {
              display: block;
              content: url(static/images/vive48-bn.png); }
@-moz-document url-prefix() {
  footer#Footer .ContentFooter .ColumnOne .RowOne ul.IconInteres li.Vive a {
    width: 48px;
    height: 48px;
    background: url(static/images/vive48-bn.png);
    background-repeat: no-repeat; } }
          footer#Footer .ContentFooter .ColumnOne .RowOne ul.IconInteres li.YVKMundial {
            display: inline-block; }
            footer#Footer .ContentFooter .ColumnOne .RowOne ul.IconInteres li.YVKMundial a {
              display: block;
              content: url(static/images/yvke48-bn.png); }
@-moz-document url-prefix() {
  footer#Footer .ContentFooter .ColumnOne .RowOne ul.IconInteres li.YVKMundial a {
    width: 48px;
    height: 48px;
    background: url(static/images/yvke48-bn.png);
    background-repeat: no-repeat; } }
      footer#Footer .ContentFooter .ColumnOne .RowTwo {
        padding: 10px 0;
        display: flex;
        justify-content: center; }
        footer#Footer .ContentFooter .ColumnOne .RowTwo .ColumnOne {
          display: inline-block;
          vertical-align: top;
          width: 150px; }
          footer#Footer .ContentFooter .ColumnOne .RowTwo .ColumnOne ul.MenuElCanal {
            display: inline-block;
            list-style: none;
            margin: 0; }
            footer#Footer .ContentFooter .ColumnOne .RowTwo .ColumnOne ul.MenuElCanal li {
              color: #fff;
              font-size: .9em;
              font-weight: 700;
              font-family: "Archivo Narrow"; }
              footer#Footer .ContentFooter .ColumnOne .RowTwo .ColumnOne ul.MenuElCanal li a {
                text-decoration: none;
                font-weight: 500;
                font-size: .8em;
                font-family: "Oswald"; }
              footer#Footer .ContentFooter .ColumnOne .RowTwo .ColumnOne ul.MenuElCanal li a:hover {
                color: #333; }
        footer#Footer .ContentFooter .ColumnOne .RowTwo .ColumnTwo {
          display: inline-block;
          vertical-align: top;
          width: 150px; }
          footer#Footer .ContentFooter .ColumnOne .RowTwo .ColumnTwo ul.MenuMultimedia {
            list-style: none;
            display: inline-block;
            margin: 0; }
            footer#Footer .ContentFooter .ColumnOne .RowTwo .ColumnTwo ul.MenuMultimedia li {
              color: #fff;
              font-size: .9em;
              font-weight: 700;
              font-family: "Archivo Narrow"; }
              footer#Footer .ContentFooter .ColumnOne .RowTwo .ColumnTwo ul.MenuMultimedia li a {
                text-decoration: none;
                font-weight: 500;
                font-size: .8em;
                font-family: "Oswald"; }
              footer#Footer .ContentFooter .ColumnOne .RowTwo .ColumnTwo ul.MenuMultimedia li a:hover {
                color: #333; }
        footer#Footer .ContentFooter .ColumnOne .RowTwo .ColumnThree {
          display: inline-block;
          vertical-align: top;
          width: 150px; }
          footer#Footer .ContentFooter .ColumnOne .RowTwo .ColumnThree ul.MenuNoticias {
            list-style: none;
            display: inline-block;
            margin: 0; }
            footer#Footer .ContentFooter .ColumnOne .RowTwo .ColumnThree ul.MenuNoticias li {
              color: #fff;
              font-size: .9em;
              font-weight: 700;
              font-family: "Archivo Narrow"; }
              footer#Footer .ContentFooter .ColumnOne .RowTwo .ColumnThree ul.MenuNoticias li a {
                text-decoration: none;
                font-weight: 500;
                font-size: .8em;
                font-family: "Oswald"; }
              footer#Footer .ContentFooter .ColumnOne .RowTwo .ColumnThree ul.MenuNoticias li a:hover {
                color: #333; }
      footer#Footer .ContentFooter .ColumnOne .RowThree {
        position: relative;
        padding: 10px 0;
        display: flex;
        justify-content: center; }
        footer#Footer .ContentFooter .ColumnOne .RowThree .ColumnOne {
          display: flex;
          width: auto;
          float: left;
          margin-left: -120px; }
          footer#Footer .ContentFooter .ColumnOne .RowThree .ColumnOne ul.MenuSocial {
            list-style: none;
            display: inline-block;
            margin: 0; }
            footer#Footer .ContentFooter .ColumnOne .RowThree .ColumnOne ul.MenuSocial li.Instagram {
              display: inline-block; }
              footer#Footer .ContentFooter .ColumnOne .RowThree .ColumnOne ul.MenuSocial li.Instagram a {
                display: block;
                content: url(static/images/instagram-footer.png); }
@-moz-document url-prefix() {
  footer#Footer .ContentFooter .ColumnOne .RowThree .ColumnOne ul.MenuSocial li.Instagram a {
    width: 50px;
    height: 47px;
    background: url(static/images/instagram-footer.png);
    background-repeat: no-repeat; } }
            footer#Footer .ContentFooter .ColumnOne .RowThree .ColumnOne ul.MenuSocial li.Twitter {
              display: inline-block; }
              footer#Footer .ContentFooter .ColumnOne .RowThree .ColumnOne ul.MenuSocial li.Twitter a {
                display: block;
                content: url(static/images/twitter-footer.png); }
@-moz-document url-prefix() {
  footer#Footer .ContentFooter .ColumnOne .RowThree .ColumnOne ul.MenuSocial li.Twitter a {
    width: 50px;
    height: 47px;
    background: url(static/images/twitter-footer.png);
    background-repeat: no-repeat; } }
            footer#Footer .ContentFooter .ColumnOne .RowThree .ColumnOne ul.MenuSocial li.Vine {
              display: inline-block; }
              footer#Footer .ContentFooter .ColumnOne .RowThree .ColumnOne ul.MenuSocial li.Vine a {
                display: block;
                content: url(static/images/vine-footer.png); }
@-moz-document url-prefix() {
  footer#Footer .ContentFooter .ColumnOne .RowThree .ColumnOne ul.MenuSocial li.Vine a {
    width: 50px;
    height: 47px;
    background: url(static/images/vine-footer.png);
    background-repeat: no-repeat; } }
            footer#Footer .ContentFooter .ColumnOne .RowThree .ColumnOne ul.MenuSocial li.Facebook {
              display: inline-block; }
              footer#Footer .ContentFooter .ColumnOne .RowThree .ColumnOne ul.MenuSocial li.Facebook a {
                display: block;
                content: url(static/images/facebook-footer.png); }
@-moz-document url-prefix() {
  footer#Footer .ContentFooter .ColumnOne .RowThree .ColumnOne ul.MenuSocial li.Facebook a {
    width: 50px;
    height: 47px;
    background: url(static/images/facebook-footer.png);
    background-repeat: no-repeat; } }
            footer#Footer .ContentFooter .ColumnOne .RowThree .ColumnOne ul.MenuSocial li.YouTube {
              display: inline-block; }
              footer#Footer .ContentFooter .ColumnOne .RowThree .ColumnOne ul.MenuSocial li.YouTube a {
                display: block;
                content: url(static/images/youtube-footer.png); }
@-moz-document url-prefix() {
  footer#Footer .ContentFooter .ColumnOne .RowThree .ColumnOne ul.MenuSocial li.YouTube a {
    width: 50px;
    height: 47px;
    background: url(static/images/youtube-footer.png);
    background-repeat: no-repeat; } }
            footer#Footer .ContentFooter .ColumnOne .RowThree .ColumnOne ul.MenuSocial li.Vtv {
              display: inline-block; }
              footer#Footer .ContentFooter .ColumnOne .RowThree .ColumnOne ul.MenuSocial li.Vtv a {
                display: block;
                content: url(static/images/historico-vtv-footer.png); }
@-moz-document url-prefix() {
  footer#Footer .ContentFooter .ColumnOne .RowThree .ColumnOne ul.MenuSocial li.Vtv a {
    width: 70px;
    height: 59px;
    background: url(static/images/historico-vtv-footer.png);
    background-repeat: no-repeat; } }
        footer#Footer .ContentFooter .ColumnOne .RowThree .ColumnTwo {
          display: flex;
          position: absolute;
          right: 15px;
          margin: 40px 0 0 20px; }
          footer#Footer .ContentFooter .ColumnOne .RowThree .ColumnTwo .Search {
            display: block; }
            footer#Footer .ContentFooter .ColumnOne .RowThree .ColumnTwo .Search form.FormSearch {
              display: block; }
              footer#Footer .ContentFooter .ColumnOne .RowThree .ColumnTwo .Search form.FormSearch input.SearchField {
                display: block;
                background: url(static/images/icon-search.png) no-repeat 150px, white;
                cursor: pointer;
                border: none;
                height: 20px; }
@-moz-document url-prefix() {
  footer#Footer .ContentFooter .ColumnOne .RowThree .ColumnTwo .Search form.FormSearch input.SearchField {
    width: 170px; } }
    footer#Footer .ContentFooter .ColumnTwo {
      display: inline-block;
      vertical-align: top; }
      footer#Footer .ContentFooter .ColumnTwo .Widget {
        width: 320px;
        margin-left: 10px; }
        footer#Footer .ContentFooter .ColumnTwo .Widget img {
          width: 325px;
          height: 292px; }



/*# sourceMappingURL=maps/footer.css.map */
