@charset "UTF-8";
main#Main {
  display: block;
  margin: 0 auto;
  padding: 0 20px;
  width: 960px;
  background-color: white; }
  main#Main .Inner {
    display: block; }
    main#Main .Inner .RowOne {
      display: block;
      vertical-align: top; }
      main#Main .Inner .RowOne .Inner {
        display: block; }
        main#Main .Inner .RowOne .Inner .MainContent {
          display: inline-block;
          width: 620px;
          text-align: justify; }
          main#Main .Inner .RowOne .Inner .MainContent .Inner {
            display: inline-block; }
            main#Main .Inner .RowOne .Inner .MainContent .Inner .SinglePost {
              padding: 10px 10px 10px 10px; }
              main#Main .Inner .RowOne .Inner .MainContent .Inner .SinglePost .PostTitle {
                font-size: 1.5em;
                color: #333;
                font-weight: 700;
                margin: 10px 0px 10px 0px;
                display: block; }
              main#Main .Inner .RowOne .Inner .MainContent .Inner .SinglePost .PostDate {
                display: inline-block;
                font-size: 0.8em;
                margin: 10px 0px 10px 0px; }
              main#Main .Inner .RowOne .Inner .MainContent .Inner .SinglePost .Author {
                display: inline-block;
                font-size: 0.9em;
                margin: 10px 0px 10px 0px;
                font-weight: 700; }
              main#Main .Inner .RowOne .Inner .MainContent .Inner .SinglePost .PostTags {
                display: block;
                font-size: 1em;
                margin: 5px 0px 5px 0px; }
                main#Main .Inner .RowOne .Inner .MainContent .Inner .SinglePost .PostTags a {
                  display: inline-block;
                  margin: 0;
                  background-color: #c3c6c7;
                  font-family: "Oswald";
                  font-size: .8em;
                  text-decoration: none; }
                  main#Main .Inner .RowOne .Inner .MainContent .Inner .SinglePost .PostTags a:hover {
                    color: #333; }
              main#Main .Inner .RowOne .Inner .MainContent .Inner .SinglePost .PostContent {
                display: block; }
                main#Main .Inner .RowOne .Inner .MainContent .Inner .SinglePost .PostContent p {
                  font-size: 1em; }
        main#Main .Inner .RowOne .Inner .SidebarSingle {
          display: inline-block;
          vertical-align: top;
          width: 316px;
          margin-left: 20px; }
          main#Main .Inner .RowOne .Inner .SidebarSingle .Block {
            display: block; }
            main#Main .Inner .RowOne .Inner .SidebarSingle .Block .Inner {
              display: block; }
              main#Main .Inner .RowOne .Inner .SidebarSingle .Block .Inner .LineView {
                border-bottom: 1px solid #DADADA; }
              main#Main .Inner .RowOne .Inner .SidebarSingle .Block .Inner .BlockTitle {
                display: block;
                border-right: 15px solid transparent;
                border-bottom: 25px solid #626262;
                height: 0;
                width: 86px; }
                main#Main .Inner .RowOne .Inner .SidebarSingle .Block .Inner .BlockTitle span.TitleLastView {
                  display: block;
                  color: #fff;
                  font-family: "Oswald";
                  font-size: 0.8em;
                  font-weight: bold;
                  padding: 3px;
                  text-transform: uppercase; }
              main#Main .Inner .RowOne .Inner .SidebarSingle .Block .Inner .BlockContent {
                display: block;
                padding: 10px;
                margin-bottom: 20px; }
                main#Main .Inner .RowOne .Inner .SidebarSingle .Block .Inner .BlockContent .Title {
                  margin-bottom: 10px; }
                  main#Main .Inner .RowOne .Inner .SidebarSingle .Block .Inner .BlockContent .Title a {
                    text-decoration: none;
                    color: #333333;
                    font-weight: 500;
                    font-size: .9em;
                    font-family: "Oswald", sans-serif; }
      main#Main .Inner .RowOne .ContentGallery {
        display: inline-block;
        width: 960px;
        text-align: justify;
        margin-bottom: 80px; }
        main#Main .Inner .RowOne .ContentGallery .InnerGallery {
          display: inline-block;
          width: 960px; }
          main#Main .Inner .RowOne .ContentGallery .InnerGallery .SinglePostGallery .PostTitleGallery {
            font-family: "Oswald", sans-serif;
            font-size: 0.9em;
            color: #303030;
            font-weight: 700;
            margin: 20px 0px 40px 0px;
            background: #eee;
            display: block;
            padding: 5px 5px 5px 5px; }
          main#Main .Inner .RowOne .ContentGallery .InnerGallery .SinglePostGallery .PostDateGallery {
            display: inline-block;
            font-size: 0.8em;
            margin: 10px 0px 10px 0px; }
    main#Main .Inner .RowTwo {
      width: 620px;
      display: inline-block;
      /*Título dos*/ }
      main#Main .Inner .RowTwo .TitleBorder {
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid #DADADA;
        margin-bottom: 10px;
        margin-top: 20px; }
        main#Main .Inner .RowTwo .TitleBorder .CategoryTitle {
          position: relative;
          float: left;
          padding: 3px;
          color: white;
          background-color: #626262;
          font-family: "Oswald";
          font-size: 0.85em;
          font-weight: 700;
          height: 18px;
          text-transform: uppercase; }
          main#Main .Inner .RowTwo .TitleBorder .CategoryTitle:before {
            position: absolute;
            top: 0;
            right: -15px;
            content: "";
            border-top: 24px solid transparent;
            border-left: 15px solid #626262; }
        main#Main .Inner .RowTwo .TitleBorder a.CategoryReadMore {
          text-decoration: none;
          text-transform: uppercase; }
        main#Main .Inner .RowTwo .TitleBorder .CategoryReadMore {
          position: relative;
          float: right;
          margin-left: 16px;
          padding: 9px 3px 3px 26px;
          color: #FFA800;
          font-weight: 700;
          font-size: 0.7em; }
      main#Main .Inner .RowTwo .TitleContentTwoTwo {
        display: inline-block;
        content: "Ver Más"; }
      main#Main .Inner .RowTwo .TitleContentTwoTwo:before {
        display: inline-block;
        position: absolute;
        width: 70px;
        height: 0;
        border-top: 25px solid #E70033;
        border-left: 15px solid transparent;
        vertical-align: top;
        margin-left: -18px;
        content: ''; }
      main#Main .Inner .RowTwo .TitleContentTwoTwo:after {
        display: inline-block;
        position: absolute;
        width: 10px;
        height: 0;
        border-right: 15px solid transparent;
        border-bottom: 25px solid #E70033;
        vertical-align: top;
        margin-left: -18px;
        content: '';
        top: 1022px;
        left: 656px; }
      main#Main .Inner .RowTwo span.TitleSpanContentTwoTwo {
        background-image: url(static/images/icon-morenews.png);
        background-position: left center;
        background-repeat: no-repeat;
        position: relative;
        display: block;
        color: #fff;
        font-family: "Oswald";
        font-size: 0.8em;
        font-weight: bold;
        padding: 3px 3px 3px 3px; }
        main#Main .Inner .RowTwo span.TitleSpanContentTwoTwo p {
          margin-left: 20px; }
      main#Main .Inner .RowTwo .ColumnOne {
        width: 204px;
        display: inline-block;
        vertical-align: top; }
        main#Main .Inner .RowTwo .ColumnOne .PostColumn {
          width: 204px; }
          main#Main .Inner .RowTwo .ColumnOne .PostColumn a {
            font-size: 1.2em;
            text-decoration: none; }
          main#Main .Inner .RowTwo .ColumnOne .PostColumn .PostTitle {
            width: 204px; }
            main#Main .Inner .RowTwo .ColumnOne .PostColumn .PostTitle a {
              color: #333333;
              font-size: 1em;
              font-weight: 600; }
      main#Main .Inner .RowTwo .Rows {
        /*display: inline-block;*/
        width: 620px; }
        main#Main .Inner .RowTwo .Rows .PostColumn {
          float: left;
          width: 200px;
          margin-left: 5px; }
        main#Main .Inner .RowTwo .Rows .PostTitle {
          width: 200px; }
          main#Main .Inner .RowTwo .Rows .PostTitle a {
            color: #333333;
            font-size: 1em;
            font-weight: 600;
            text-decoration: none; }
      main#Main .Inner .RowTwo .Widget {
        display: block;
        width: 620px;
        margin-top: 10px;
        margin-bottom: 10px; }
        main#Main .Inner .RowTwo .Widget img {
          width: 620px; }
      main#Main .Inner .RowTwo .RowProgramOpinion {
        width: 960px;
        margin-top: 20px;
        display: block;
        float: left;
        background-color: #434343; }
        main#Main .Inner .RowTwo .RowProgramOpinion .ProgramMoreView {
          background-color: #434343;
          width: 626px;
          float: left; }
        main#Main .Inner .RowTwo .RowProgramOpinion .Opinion {
          background-color: #E79600;
          width: 334px;
          float: left; }
        main#Main .Inner .RowTwo .RowProgramOpinion .ProgramTitle {
          display: inline;
          vertical-align: top; }
          main#Main .Inner .RowTwo .RowProgramOpinion .ProgramTitle .ProgramBack {
            position: relative;
            float: left;
            padding: 7px;
            color: #FFA800;
            background-color: #333333;
            font-family: "Oswald";
            font-size: 0.85em;
            font-weight: 700;
            height: 18px;
            text-transform: uppercase;
            width: 612px; }
        main#Main .Inner .RowTwo .RowProgramOpinion .OpinionTitle {
          float: left;
          vertical-align: top; }
          main#Main .Inner .RowTwo .RowProgramOpinion .OpinionTitle .OpinionBack {
            position: relative;
            float: left;
            padding: 7px;
            color: white;
            background-color: #AA7005;
            font-family: "Oswald";
            font-size: 0.85em;
            font-weight: 700;
            height: 18px;
            text-transform: uppercase;
            width: 320px; }
        main#Main .Inner .RowTwo .RowProgramOpinion .ProgramRows {
          display: inline-block;
          width: 620px;
          margin-top: 10px; }
          main#Main .Inner .RowTwo .RowProgramOpinion .ProgramRows .PostColumn {
            float: left;
            width: 200px;
            margin-left: 5px; }
            main#Main .Inner .RowTwo .RowProgramOpinion .ProgramRows .PostColumn a img {
              margin-bottom: 10px;
              margin-top: 25px; }
          main#Main .Inner .RowTwo .RowProgramOpinion .ProgramRows .PostTitle {
            width: 200px; }
            main#Main .Inner .RowTwo .RowProgramOpinion .ProgramRows .PostTitle a {
              color: white;
              font-size: 1em;
              font-weight: 600;
              text-decoration: none; }
        main#Main .Inner .RowTwo .RowProgramOpinion .OpinionRows {
          margin-top: 10px;
          margin-left: 35px;
          width: 200px; }
          main#Main .Inner .RowTwo .RowProgramOpinion .OpinionRows .PostColumn {
            width: 290px;
            margin-top: 10px; }
          main#Main .Inner .RowTwo .RowProgramOpinion .OpinionRows .PostTitle {
            width: 290px; }
            main#Main .Inner .RowTwo .RowProgramOpinion .OpinionRows .PostTitle a {
              color: white;
              font-size: 1em;
              font-weight: 600;
              text-decoration: none; }
        main#Main .Inner .RowTwo .RowProgramOpinion .OpinionReadMore {
          background-color: #434343;
          height: 20px; }
          main#Main .Inner .RowTwo .RowProgramOpinion .OpinionReadMore a {
            text-decoration: none;
            float: right;
            color: #AA7005;
            font-weight: 700;
            margin-right: 10px; }
      main#Main .Inner .RowTwo .ContentScience {
        display: block;
        width: 960px; }
        main#Main .Inner .RowTwo .ContentScience .ContentOne {
          display: inline-block;
          vertical-align: top;
          width: 620px; }
        main#Main .Inner .RowTwo .ContentScience .ContentTwo {
          display: inline-block;
          vertical-align: top;
          width: 320px; }
          main#Main .Inner .RowTwo .ContentScience .ContentTwo .Widget {
            display: block; }
            main#Main .Inner .RowTwo .ContentScience .ContentTwo .Widget img {
              width: 337px;
              height: 437px; }
      main#Main .Inner .RowTwo .ContentGallery {
        background: black;
        width: 960px;
        height: 515px; }
        main#Main .Inner .RowTwo .ContentGallery .TitleGallery {
          color: white;
          padding: 20px;
          text-transform: uppercase;
          font-family: "Oswald";
          font-size: 0.85em;
          font-weight: 700; }
        main#Main .Inner .RowTwo .ContentGallery .ColumnOneGallery {
          width: 625px;
          float: left;
          margin-left: 5px;
          position: relative; }
          main#Main .Inner .RowTwo .ContentGallery .ColumnOneGallery .PostTitleGalleryOne {
            position: absolute;
            bottom: 40px;
            left: 35px;
            width: 200px; }
            main#Main .Inner .RowTwo .ContentGallery .ColumnOneGallery .PostTitleGalleryOne a {
              color: white;
              text-decoration: none;
              font-weight: 700;
              font-size: 1em; }
        main#Main .Inner .RowTwo .ContentGallery .ColumnTwoGallery {
          width: 330px;
          float: left;
          position: relative; }
          main#Main .Inner .RowTwo .ContentGallery .ColumnTwoGallery .PostTitleGalleryTwo {
            position: absolute;
            bottom: 30px;
            left: 15px;
            width: 300px; }
            main#Main .Inner .RowTwo .ContentGallery .ColumnTwoGallery .PostTitleGalleryTwo a {
              color: white;
              text-decoration: none;
              font-weight: 700;
              font-size: 1em; }
        main#Main .Inner .RowTwo .ContentGallery .ColumnThreeGallery {
          width: 330px;
          float: left;
          position: relative; }
          main#Main .Inner .RowTwo .ContentGallery .ColumnThreeGallery .PostTitleGalleryThree {
            position: absolute;
            bottom: 30px;
            left: 15px;
            width: 300px; }
            main#Main .Inner .RowTwo .ContentGallery .ColumnThreeGallery .PostTitleGalleryThree a {
              color: white;
              text-decoration: none;
              font-weight: 700;
              font-size: 1em; }
          main#Main .Inner .RowTwo .ContentGallery .ColumnThreeGallery .PostColumnThree {
            margin-top: 6px; }
      main#Main .Inner .RowTwo .TitleBorderVenezuelans {
        display: inline-block;
        width: 960px;
        border-bottom: 1px solid #DADADA;
        margin-bottom: 10px;
        margin-top: 20px; }
        main#Main .Inner .RowTwo .TitleBorderVenezuelans .CategoryTitleVenezuelans {
          position: relative;
          float: left;
          padding: 3px;
          color: white;
          background-color: #626262;
          font-family: "Oswald";
          font-size: 0.85em;
          font-weight: 700;
          height: 18px;
          text-transform: uppercase; }
          main#Main .Inner .RowTwo .TitleBorderVenezuelans .CategoryTitleVenezuelans:before {
            position: absolute;
            top: 0;
            right: -15px;
            content: "";
            border-top: 24px solid transparent;
            border-left: 15px solid #626262; }
      main#Main .Inner .RowTwo .RowsVenezuelans .Widget {
        display: block;
        width: 9;
        margin-bottom: 20px; }
        main#Main .Inner .RowTwo .RowsVenezuelans .Widget img {
          width: 960px; }
      main#Main .Inner .RowTwo .MarqueeWArea {
        display: block;
        width: 960px;
        margin-top: 5px;
        margin-bottom: 5px; }
        main#Main .Inner .RowTwo .MarqueeWArea .MarqueeTitle {
          display: block;
          background: #eee;
          color: #AC1A2F;
          font-weight: 700;
          font-size: .8em;
          font-family: "Oswald";
          padding: 5px 5px 5px 5px;
          vertical-align: top;
          float: left; }
        main#Main .Inner .RowTwo .MarqueeWArea .MarqueeEconomic {
          display: block;
          background: #333333;
          vertical-align: top;
          padding: 5px 5px 5px 5px;
          overflow: hidden; }
          main#Main .Inner .RowTwo .MarqueeWArea .MarqueeEconomic a {
            padding-left: 15px;
            font-size: .8em;
            font-family: "Archivo Narrow";
            color: #fff;
            text-decoration: none; }
            main#Main .Inner .RowTwo .MarqueeWArea .MarqueeEconomic a:hover {
              opacity: .6; }
            main#Main .Inner .RowTwo .MarqueeWArea .MarqueeEconomic a:before {
              content: "·"; }
            main#Main .Inner .RowTwo .MarqueeWArea .MarqueeEconomic a:first-child {
              padding-left: 0; }
      main#Main .Inner .RowTwo .ContentDiary {
        width: 960px; }
        main#Main .Inner .RowTwo .ContentDiary .Diary {
          display: inline-block;
          vertical-align: top;
          width: 700px;
          height: 350px; }
          main#Main .Inner .RowTwo .ContentDiary .Diary .ColumnOneDiary {
            width: 230px;
            display: inline-block;
            background-color: #F7E897;
            border-top: 5px solid #FF1961;
            margin-right: -4px;
            vertical-align: top;
            height: 376px; }
            main#Main .Inner .RowTwo .ContentDiary .Diary .ColumnOneDiary .PostColumn img {
              width: 210px;
              padding: 10px; }
            main#Main .Inner .RowTwo .ContentDiary .Diary .ColumnOneDiary p {
              color: white;
              font-weight: 700;
              padding: 10px; }
            main#Main .Inner .RowTwo .ContentDiary .Diary .ColumnOneDiary .MainPostExcerpt {
              height: auto;
              overflow: hidden;
              display: block; }
              main#Main .Inner .RowTwo .ContentDiary .Diary .ColumnOneDiary .MainPostExcerpt p {
                display: none; }
          main#Main .Inner .RowTwo .ContentDiary .Diary .ColumnTwoDiary {
            width: 230px;
            display: inline-block;
            background-color: #64B4FF;
            border-top: 5px solid #272C32;
            margin-right: -4px;
            vertical-align: top;
            height: 376px; }
            main#Main .Inner .RowTwo .ContentDiary .Diary .ColumnTwoDiary .PostColumn img {
              width: 210px;
              padding: 10px; }
            main#Main .Inner .RowTwo .ContentDiary .Diary .ColumnTwoDiary p {
              color: white;
              font-weight: 700;
              padding: 10px; }
            main#Main .Inner .RowTwo .ContentDiary .Diary .ColumnTwoDiary .MainPostExcerpt {
              height: auto;
              overflow: hidden;
              display: block; }
              main#Main .Inner .RowTwo .ContentDiary .Diary .ColumnTwoDiary .MainPostExcerpt p {
                display: none; }
          main#Main .Inner .RowTwo .ContentDiary .Diary .ColumnThreeDiary {
            width: 230px;
            display: inline-block;
            background-color: #FF3372;
            border-top: 5px solid #C3B14F;
            vertical-align: top;
            height: 376px; }
            main#Main .Inner .RowTwo .ContentDiary .Diary .ColumnThreeDiary .PostColumn img {
              width: 210px;
              padding: 10px; }
            main#Main .Inner .RowTwo .ContentDiary .Diary .ColumnThreeDiary p {
              font-weight: 700;
              color: #333333;
              padding: 10px; }
            main#Main .Inner .RowTwo .ContentDiary .Diary .ColumnThreeDiary .MainPostExcerpt {
              height: auto;
              overflow: hidden;
              display: block; }
              main#Main .Inner .RowTwo .ContentDiary .Diary .ColumnThreeDiary .MainPostExcerpt p {
                display: none; }
        main#Main .Inner .RowTwo .ContentDiary .BannerDiary {
          width: 255px;
          display: inline-block;
          margin-top: -10px; }
          main#Main .Inner .RowTwo .ContentDiary .BannerDiary .Widget {
            display: block;
            width: 270px;
            margin-left: -14px; }
            main#Main .Inner .RowTwo .ContentDiary .BannerDiary .Widget img {
              width: 270px; }
    main#Main .Inner .Sidebar {
      width: 335px;
      display: inline-block;
      vertical-align: top;
      margin-top: 20px; }
      main#Main .Inner .Sidebar .Block {
        display: block; }
        main#Main .Inner .Sidebar .Block .Inner {
          display: block; }
          main#Main .Inner .Sidebar .Block .Inner .LineView {
            border-bottom: 1px solid #DADADA; }
          main#Main .Inner .Sidebar .Block .Inner .BlockTitle {
            display: block;
            border-right: 15px solid transparent;
            border-bottom: 25px solid #626262;
            height: 0;
            width: 86px; }
            main#Main .Inner .Sidebar .Block .Inner .BlockTitle span.TitleLastView {
              display: block;
              color: #fff;
              font-family: "Oswald";
              font-size: 0.8em;
              font-weight: bold;
              padding: 3px 3px 3px 3px;
              text-transform: uppercase; }
          main#Main .Inner .Sidebar .Block .Inner .BlockContent {
            display: block;
            padding: 10px;
            margin-bottom: 20px; }
            main#Main .Inner .Sidebar .Block .Inner .BlockContent .Title a {
              text-decoration: none;
              color: #333333;
              font-weight: 500;
              font-size: .9em;
              font-family: "Oswald", sans-serif; }
            main#Main .Inner .Sidebar .Block .Inner .BlockContent .Title .Date {
              font-size: 0.9em;
              color: #FFA800; }
      main#Main .Inner .Sidebar .Widget {
        display: block;
        width: 335px;
        margin-bottom: 20px; }
        main#Main .Inner .Sidebar .Widget img {
          width: 335px; }
    main#Main .Inner section.Category {
      display: block;
      margin-top: 10px; }
      main#Main .Inner section.Category .CategoryTitleDefault {
        display: block;
        background-color: #c3c6c7;
        font-size: .8em;
        font-family: "Oswald";
        color: black;
        padding: 5px 5px;
        font-weight: 700;
        vertical-align: top; }
      main#Main .Inner section.Category .CategoryContent {
        width: 620px;
        display: inline-block; }
        main#Main .Inner section.Category .CategoryContent .CatPostImg {
          display: inline-flex; }
          main#Main .Inner section.Category .CategoryContent .CatPostImg article.CatPostColumnOne {
            display: inline-block;
            margin: 10px 10px 10px 0;
            float: left; }
            main#Main .Inner section.Category .CategoryContent .CatPostImg article.CatPostColumnOne a.CatThumbnail {
              display: block;
              vertical-align: top;
              float: left; }
              main#Main .Inner section.Category .CategoryContent .CatPostImg article.CatPostColumnOne a.CatThumbnail img {
                opacity: .8; }
                main#Main .Inner section.Category .CategoryContent .CatPostImg article.CatPostColumnOne a.CatThumbnail img:hover {
                  opacity: 1; }
          main#Main .Inner section.Category .CategoryContent .CatPostImg article.CatPostColumnTwo {
            display: block;
            margin-top: 10px; }
            main#Main .Inner section.Category .CategoryContent .CatPostImg article.CatPostColumnTwo .CatPostInfo {
              display: block;
              width: 400px;
              float: right; }
              main#Main .Inner section.Category .CategoryContent .CatPostImg article.CatPostColumnTwo .CatPostInfo span.CatPost {
                display: block;
                font-size: 1.2em;
                font-family: "Archivo Narrow";
                font-weight: 700; }
                main#Main .Inner section.Category .CategoryContent .CatPostImg article.CatPostColumnTwo .CatPostInfo span.CatPost a {
                  display: block;
                  text-decoration: none;
                  color: #303030; }
              main#Main .Inner section.Category .CategoryContent .CatPostImg article.CatPostColumnTwo .CatPostInfo .CatPostExcerpt {
                display: block;
                text-align: justify;
                margin-top: 5px;
                margin-bottom: 5px;
                font-size: .9em; }
                main#Main .Inner section.Category .CategoryContent .CatPostImg article.CatPostColumnTwo .CatPostInfo .CatPostExcerpt .TitleSeeMore {
                  display: block;
                  background-color: #626262;
                  width: 72px; }
                  main#Main .Inner section.Category .CategoryContent .CatPostImg article.CatPostColumnTwo .CatPostInfo .CatPostExcerpt .TitleSeeMore span.ContentSeeMore {
                    display: block;
                    padding: 5px 5px 5px 5px;
                    background-image: url(static/images/icon-morenews.png);
                    background-position: left center;
                    background-repeat: no-repeat; }
                    main#Main .Inner section.Category .CategoryContent .CatPostImg article.CatPostColumnTwo .CatPostInfo .CatPostExcerpt .TitleSeeMore span.ContentSeeMore p {
                      margin-left: 20px; }
                    main#Main .Inner section.Category .CategoryContent .CatPostImg article.CatPostColumnTwo .CatPostInfo .CatPostExcerpt .TitleSeeMore span.ContentSeeMore a {
                      text-decoration: none;
                      color: #fff;
                      font-size: .8em;
                      font-weight: bold; }
        main#Main .Inner section.Category .CategoryContent .CatPostWithoutImg {
          display: inline-flex;
          width: 100%; }
          main#Main .Inner section.Category .CategoryContent .CatPostWithoutImg article.CatPostColumnTwo {
            display: block;
            margin-top: 10px; }
            main#Main .Inner section.Category .CategoryContent .CatPostWithoutImg article.CatPostColumnTwo .CatPostInfo {
              display: block; }
              main#Main .Inner section.Category .CategoryContent .CatPostWithoutImg article.CatPostColumnTwo .CatPostInfo span.CatPost {
                display: block;
                font-size: 1.2em;
                font-family: "Archivo Narrow";
                font-weight: 700; }
                main#Main .Inner section.Category .CategoryContent .CatPostWithoutImg article.CatPostColumnTwo .CatPostInfo span.CatPost a {
                  display: block;
                  text-decoration: none;
                  color: #303030; }
              main#Main .Inner section.Category .CategoryContent .CatPostWithoutImg article.CatPostColumnTwo .CatPostInfo .CatPostExcerpt {
                display: block;
                text-align: justify;
                margin-top: 5px;
                margin-bottom: 5px;
                font-size: .9em; }
                main#Main .Inner section.Category .CategoryContent .CatPostWithoutImg article.CatPostColumnTwo .CatPostInfo .CatPostExcerpt .TitleSeeMore {
                  display: block;
                  background-color: #626262;
                  width: 70px; }
                  main#Main .Inner section.Category .CategoryContent .CatPostWithoutImg article.CatPostColumnTwo .CatPostInfo .CatPostExcerpt .TitleSeeMore span.ContentSeeMore {
                    display: block;
                    padding: 3px;
                    background-image: url(static/images/icon-morenews.png);
                    background-position: left center;
                    background-repeat: no-repeat; }
                    main#Main .Inner section.Category .CategoryContent .CatPostWithoutImg article.CatPostColumnTwo .CatPostInfo .CatPostExcerpt .TitleSeeMore span.ContentSeeMore p {
                      margin-left: 20px; }
                    main#Main .Inner section.Category .CategoryContent .CatPostWithoutImg article.CatPostColumnTwo .CatPostInfo .CatPostExcerpt .TitleSeeMore span.ContentSeeMore a {
                      text-decoration: none;
                      color: #fff;
                      font-size: .8em;
                      font-weight: bold; }
      main#Main .Inner section.Category .SidebarCategory {
        display: inline-block;
        vertical-align: top;
        width: 316px;
        margin-left: 20px; }
        main#Main .Inner section.Category .SidebarCategory .Block {
          display: block; }
          main#Main .Inner section.Category .SidebarCategory .Block .Inner {
            display: block; }
            main#Main .Inner section.Category .SidebarCategory .Block .Inner .LineView {
              border-bottom: 1px solid #DADADA; }
            main#Main .Inner section.Category .SidebarCategory .Block .Inner .BlockTitle {
              display: block;
              border-right: 15px solid transparent;
              border-bottom: 25px solid #626262;
              height: 0;
              width: 86px; }
              main#Main .Inner section.Category .SidebarCategory .Block .Inner .BlockTitle span.TitleLastView {
                display: block;
                color: #fff;
                font-family: "Oswald";
                font-size: 0.8em;
                font-weight: bold;
                padding: 3px;
                text-transform: uppercase; }
            main#Main .Inner section.Category .SidebarCategory .Block .Inner .BlockContent {
              display: block;
              padding: 10px;
              margin-bottom: 20px; }
              main#Main .Inner section.Category .SidebarCategory .Block .Inner .BlockContent .Title {
                margin-bottom: 10px; }
                main#Main .Inner section.Category .SidebarCategory .Block .Inner .BlockContent .Title a {
                  text-decoration: none;
                  color: #333333;
                  font-weight: 500;
                  font-size: .9em;
                  font-family: "Oswald", sans-serif; }
    main#Main .Inner .Search {
      display: block; }
      main#Main .Inner .Search .SearchForm {
        display: block;
        margin-bottom: 20px;
        padding: 20px 100px;
        background-color: #c3c6c7;
        border-bottom: 3px solid #333333; }
        main#Main .Inner .Search .SearchForm .Form {
          display: block;
          text-align: center;
          width: 828px; }
          main#Main .Inner .Search .SearchForm .Form input.SearchInput {
            display: inline-block;
            vertical-align: top;
            padding: 10px;
            color: #333333;
            width: 750px;
            font-family: "Oswald";
            font-size: 1.3em;
            background-color: white;
            border: 1px solid #c3c6c7; }
          main#Main .Inner .Search .SearchForm .Form input.SearchButton {
            display: inline-block;
            vertical-align: top;
            margin: 0;
            width: 52px;
            height: 52px;
            background-color: #333333;
            background-image: url(static/images/icon-search-big.png);
            background-repeat: no-repeat;
            border: none;
            cursor: pointer; }
      main#Main .Inner .Search .SearchResults {
        display: block; }
        main#Main .Inner .Search .SearchResults .Inner {
          counter-reset: article; }
          main#Main .Inner .Search .SearchResults .Inner article.Post {
            display: block;
            margin-bottom: 1px;
            padding: 10px;
            border-bottom: 1px solid #c3c6c7;
            -o-transition: 0.2s;
            -ms-transition: 0.2s;
            -moz-transition: 0.2s;
            -webkit-transition: 0.2s;
            transition: 0.2s; }
            main#Main .Inner .Search .SearchResults .Inner article.Post .Inner {
              display: inline-block;
              vertical-align: middle;
              width: 960px; }
              main#Main .Inner .Search .SearchResults .Inner article.Post .Inner .PostTitle {
                color: #c3c6c7;
                font-family: "Oswald";
                font-size: 1.2em;
                font-weight: 700;
                text-decoration: none; }
              main#Main .Inner .Search .SearchResults .Inner article.Post .Inner .PostExcerpt {
                color: #c3c6c7;
                font-family: "Oswald";
                font-size: .8em;
                font-weight: normal;
                text-decoration: none; }
          main#Main .Inner .Search .SearchResults .Inner article.Post:before {
            counter-increment: article;
            content: counter(article);
            display: inline-block;
            vertical-align: middle;
            width: 40px;
            color: #333333;
            font-family: "Oswald";
            font-size: 2em;
            text-align: center; }
          main#Main .Inner .Search .SearchResults .Inner article.Post:hover {
            border-bottom: 1px solid #FFA800; }
    main#Main .Inner .NavPag {
      display: block;
      margin: 20px 0; }
      main#Main .Inner .NavPag .page-numbers {
        display: inline-block;
        padding: 5px 10px;
        color: white;
        background-color: #333333;
        text-decoration: none;
        -o-transition: 0.3s;
        -ms-transition: 0.3s;
        -moz-transition: 0.3s;
        -webkit-transition: 0.3s;
        transition: 0.3s; }
      main#Main .Inner .NavPag .page-numbers:hover {
        color: #FFA800;
        background-color: #333333; }
      main#Main .Inner .NavPag .current {
        color: #FFA800;
        background-color: #333333; }
      main#Main .Inner .NavPag .dots {
        color: #FFA800;
        background: none; }
      main#Main .Inner .NavPag .Pagination {
        display: block;
        margin-bottom: 50px; }
        main#Main .Inner .NavPag .Pagination .PaginationInfo {
          padding: 10px;
          color: white;
          background-color: #626262;
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2); }
        main#Main .Inner .NavPag .Pagination .PaginationPage {
          padding: 10px 20px;
          margin-left: 1px;
          color: white;
          background-color: #626262;
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
          text-decoration: none;
          transition: .3s; }
          main#Main .Inner .NavPag .Pagination .PaginationPage:hover {
            background-color: #626262; }
        main#Main .Inner .NavPag .Pagination .PaginationCurrent {
          color: white;
          background-color: #333333; }
          main#Main .Inner .NavPag .Pagination .PaginationCurrent:hover {
            background-color: white; }
    main#Main .Inner .Gallery {
      margin-top: 10px;
      display: block;
      width: 960px; }
      main#Main .Inner .Gallery .TitleGallery {
        display: block;
        background-color: #c3c6c7;
        font-size: .8em;
        font-family: "Oswald";
        color: black;
        padding: 5px 5px;
        font-weight: 700;
        vertical-align: top; }
      main#Main .Inner .Gallery .ListGallery {
        display: block;
        vertical-align: top; }
        main#Main .Inner .Gallery .ListGallery .ColumnOneGallery {
          width: 960px;
          display: inline-block;
          margin: 15px; }
          main#Main .Inner .Gallery .ListGallery .ColumnOneGallery article.PostColumn {
            float: left;
            margin: 5px;
            width: 300px;
            background-color: white;
            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
            height: 350px; }
            main#Main .Inner .Gallery .ListGallery .ColumnOneGallery article.PostColumn > a {
              display: block;
              margin-bottom: 20px; }
              main#Main .Inner .Gallery .ListGallery .ColumnOneGallery article.PostColumn > a img {
                display: block;
                width: 100%;
                height: auto; }
          main#Main .Inner .Gallery .ListGallery .ColumnOneGallery span.PostTitle {
            width: 270px;
            display: block;
            margin-bottom: 20px;
            margin-left: 20px;
            margin-right: 20px; }
            main#Main .Inner .Gallery .ListGallery .ColumnOneGallery span.PostTitle a {
              color: #333;
              text-decoration: none;
              transition: .3s;
              font-weight: 700; }
              main#Main .Inner .Gallery .ListGallery .ColumnOneGallery span.PostTitle a:hover {
                color: #909090; }
          main#Main .Inner .Gallery .ListGallery .ColumnOneGallery span.GalleryDate {
            font-size: 0.9em;
            margin: 22px; }
    main#Main .Inner .LastNews {
      width: 960px;
      display: block; }
      main#Main .Inner .LastNews .BlockTitle {
        margin-top: 60px;
        margin-bottom: 10px;
        padding: 15px;
        width: 920px;
        border-top: solid #89bf40; }
        main#Main .Inner .LastNews .BlockTitle .TitleLastView {
          font-weight: 700;
          font-size: 1.2em; }
      main#Main .Inner .LastNews .ColumnOne {
        width: 960px;
        display: inline-block; }
        main#Main .Inner .LastNews .ColumnOne article.PostColumn {
          float: left;
          margin: 5px;
          width: 150px;
          height: auto; }
        main#Main .Inner .LastNews .ColumnOne span.PostTitle {
          width: 100px;
          display: block;
          margin-bottom: 20px;
          margin-left: 20px;
          margin-right: 20px; }
          main#Main .Inner .LastNews .ColumnOne span.PostTitle a {
            color: #333;
            text-decoration: none;
            transition: .3s;
            font-weight: 700; }
            main#Main .Inner .LastNews .ColumnOne span.PostTitle a:hover {
              color: #909090; }
    main#Main .Inner .NotFound {
      width: 960px;
      display: block; }
      main#Main .Inner .NotFound .BlockTitleNotFound {
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 5px;
        width: 950px;
        text-align: center; }
        main#Main .Inner .NotFound .BlockTitleNotFound .TitleNotFound {
          font-weight: 700;
          font-size: 2.2em; }
      main#Main .Inner .NotFound .ColumnOne {
        width: 960px;
        display: inline-block; }
        main#Main .Inner .NotFound .ColumnOne img {
          width: 960px; }
    main#Main .Inner .LastNewsNotFound {
      width: 960px;
      display: block; }
      main#Main .Inner .LastNewsNotFound .BlockTitle {
        margin-top: 60px;
        margin-bottom: 10px;
        padding: 15px;
        width: 920px;
        border-top: solid #ff751c; }
        main#Main .Inner .LastNewsNotFound .BlockTitle .TitleLastView {
          font-weight: 700;
          font-size: 1.2em; }
      main#Main .Inner .LastNewsNotFound .ColumnOne {
        width: 960px;
        display: inline-block; }
        main#Main .Inner .LastNewsNotFound .ColumnOne article.PostColumn {
          float: left;
          margin: 5px;
          width: 150px; }
        main#Main .Inner .LastNewsNotFound .ColumnOne span.PostTitle {
          display: block;
          margin-bottom: 20px;
          /*margin-left: 20px;
          margin-right: 20px;*/
          text-align: justify;
          overflow: hidden !important; }
          main#Main .Inner .LastNewsNotFound .ColumnOne span.PostTitle a {
            color: #333;
            text-decoration: none;
            transition: .3s;
            font-weight: 700; }
            main#Main .Inner .LastNewsNotFound .ColumnOne span.PostTitle a:hover {
              color: #909090; }
  main#Main .Live {
    display: inline-block;
    width: 480px;
    height: 370px; }

.PostContent img {
  width: auto;
  height: auto; }

div.amazingslider-box-1 div:nth-child(3) {
  visibility: hidden !important;
  width: 0 !important;
  height: 0 !important;
  padding: 0 !important;
  overflow: hidden !important; }

.page #Main .Inner .RowOne .Inner {
  display: block !important; }
  .page #Main .Inner .RowOne .Inner .SinglePost header .PostTitle {
    background-color: #9A212A;
    color: #fff !important;
    padding: 10px;
    font-weight: 500 !important; }



/*# sourceMappingURL=maps/global.css.map */
