@charset "UTF-8";
header#Header {
  display: block;
  background-color: white; }
  header#Header .Inner {
    display: flex !important;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; }
    header#Header .Inner .Banner {
      width: 960px; }
      header#Header .Inner .Banner img {
        width: 960px; }
    header#Header .Inner nav#Nav {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 5px;
      margin-bottom: 5px;
      width: 1000px; }
      header#Header .Inner nav#Nav ul.MainMenu {
        display: inline-block;
        margin: 0;
        list-style: none;
        width: 661px;
        padding: 0; }
        header#Header .Inner nav#Nav ul.MainMenu li {
          display: inline-block; }
          header#Header .Inner nav#Nav ul.MainMenu li a {
            display: block;
            margin: 0;
            padding: 5px 5px;
            color: #909090;
            font-family: "Oswald";
            font-size: .8em;
            text-decoration: none;
            text-transform: uppercase;
            transition: .2s; }
            header#Header .Inner nav#Nav ul.MainMenu li a:hover {
              color: #333; }
      header#Header .Inner nav#Nav ul.MenuSocial {
        display: inline-block;
        justify-content: stretch;
        margin: 0;
        width: 300px;
        padding: 0; }
        header#Header .Inner nav#Nav ul.MenuSocial li {
          margin-right: 4px; }
        header#Header .Inner nav#Nav ul.MenuSocial li.Search {
          display: inline-block; }
          header#Header .Inner nav#Nav ul.MenuSocial li.Search form.FormSearch {
            display: block; }
            header#Header .Inner nav#Nav ul.MenuSocial li.Search form.FormSearch input.SearchField {
              display: block;
              background: url(static/images/icon-search.png) no-repeat 150px, white;
              cursor: pointer;
              height: 20px; }
@-moz-document url-prefix() {
  header#Header .Inner nav#Nav ul.MenuSocial li.Search form.FormSearch input.SearchField {
    width: 170px; } }
        header#Header .Inner nav#Nav ul.MenuSocial li.twitter {
          display: inline-block; }
          header#Header .Inner nav#Nav ul.MenuSocial li.twitter a {
            display: block; }
            header#Header .Inner nav#Nav ul.MenuSocial li.twitter a:before {
              content: url(static/images/icon-twitter.png); }
            header#Header .Inner nav#Nav ul.MenuSocial li.twitter a:hover:before {
              transition: .2s;
              content: url(static/images/icon-twitter-color.png); }
        header#Header .Inner nav#Nav ul.MenuSocial li.facebook {
          display: inline-block; }
          header#Header .Inner nav#Nav ul.MenuSocial li.facebook a {
            display: block; }
            header#Header .Inner nav#Nav ul.MenuSocial li.facebook a:before {
              content: url(static/images/icon-facebook.png); }
            header#Header .Inner nav#Nav ul.MenuSocial li.facebook a:hover:before {
              transition: .2s;
              content: url(static/images/icon-facebook-color.png); }
        header#Header .Inner nav#Nav ul.MenuSocial li.instagram {
          display: inline-block; }
          header#Header .Inner nav#Nav ul.MenuSocial li.instagram a {
            display: block; }
            header#Header .Inner nav#Nav ul.MenuSocial li.instagram a:before {
              content: url(static/images/icon-instagram.png); }
            header#Header .Inner nav#Nav ul.MenuSocial li.instagram a:hover:before {
              transition: .2s;
              content: url(static/images/icon-instagram-color.png); }
        header#Header .Inner nav#Nav ul.MenuSocial li.vine {
          display: inline-block; }
          header#Header .Inner nav#Nav ul.MenuSocial li.vine a {
            display: block; }
            header#Header .Inner nav#Nav ul.MenuSocial li.vine a:before {
              content: url(static/images/icon-vine.png); }
            header#Header .Inner nav#Nav ul.MenuSocial li.vine a:hover:before {
              transition: .2s;
              content: url(static/images/icon-vine-color.png); }
        header#Header .Inner nav#Nav ul.MenuSocial li.youtube {
          display: inline-block; }
          header#Header .Inner nav#Nav ul.MenuSocial li.youtube a {
            display: block; }
            header#Header .Inner nav#Nav ul.MenuSocial li.youtube a:before {
              content: url(static/images/icon-youtube.png); }
            header#Header .Inner nav#Nav ul.MenuSocial li.youtube a:hover:before {
              transition: .2s;
              content: url(static/images/icon-youtube-color.png); }
    header#Header .Inner .MarqueeWArea {
      display: block;
      width: 100%;
      margin-top: 5px;
      margin-bottom: 5px; }
      header#Header .Inner .MarqueeWArea .MarqueeTitle {
        display: block;
        background: #eee;
        color: #AC1A2F;
        font-weight: 700;
        font-size: .8em;
        font-family: "Oswald";
        padding: 5px 5px 5px 5px;
        vertical-align: top;
        float: left; }
      header#Header .Inner .MarqueeWArea .MarqueeContent {
        display: block;
        background: #333333;
        vertical-align: top;
        padding: 5px 5px 5px 5px;
        overflow: hidden; }
        header#Header .Inner .MarqueeWArea .MarqueeContent a {
          padding-left: 15px;
          font-size: .8em;
          font-family: "Archivo Narrow";
          color: #fff;
          text-decoration: none; }
          header#Header .Inner .MarqueeWArea .MarqueeContent a:hover {
            opacity: .6; }
          header#Header .Inner .MarqueeWArea .MarqueeContent a:before {
            content: "·"; }
          header#Header .Inner .MarqueeWArea .MarqueeContent a:first-child {
            padding-left: 0; }



/*# sourceMappingURL=maps/header.css.map */
