@charset "UTF-8";
/**
	Estilos: Reset.scss
	Descripción: Reinicio de estilos de etiquetas globales de html
 */
* {
  margin: 0;
  padding: 0; }

*:focus {
  outline: none; }

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  background-color: #eee;
  font-family: "Archivo Narrow";
  font-size: 16px;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary,
img {
  display: block; }

img {
  border: none; }

a,
a:link,
a:visited,
a:active {
  color: #aaa;
  background-color: transparent;
  text-decoration: underline;
  font-style: normal; }

a:hover {
  outline: 0; }

a:hover,
a:active {
  outline: 0; }

p {
  margin-top: 20px; }

p:first-child {
  margin-top: 0; }

h1 {
  margin-bottom: 50px;
  font-size: 2.0em; }

h2 {
  margin-bottom: 40px;
  font-size: 1.8em; }

h3 {
  margin-bottom: 30px;
  font-size: 1.6em; }

h4 {
  margin-bottom: 20px;
  font-size: 1.4em; }

h5 {
  margin-bottom: 10px;
  font-size: 1.2em; }

h6 {
  margin-bottom: 5px;
  font-size: 1em; }

ul,
ol {
  margin: 0 0 0 50px; }

blockquote {
  display: inline-block;
  font-style: italic; }

blockquote:before,
blockquote:after {
  content: "\"";
  float: left; }

blockquote p {
  margin: 0;
  float: left; }



/*# sourceMappingURL=maps/reset.css.map */
