.Slider {
  display: inline-block;
  width: 480px;
  height: 300px; }
  .Slider .Slider-inner {
    position: relative;
    display: block; }
    .Slider .Slider-inner .Slide {
      position: absolute;
      z-index: 0;
      display: block;
      width: 480px;
      height: 300px;
      opacity: 0; }
      .Slider .Slider-inner .Slide a {
        display: block; }
        .Slider .Slider-inner .Slide a img {
          display: block; }
      .Slider .Slider-inner .Slide .info {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        height: 95px;
        width: 480px;
        background-color: rgba(0, 0, 0, 0.83); }
@-moz-document url-prefix() {
  .Slider .Slider-inner .Slide .info {
    height: 100px; } }
        .Slider .Slider-inner .Slide .info .s-category {
          display: inline-block;
          margin-top: 10px;
          padding: 2px 10px;
          color: white;
          font-family: "Archivo Narrow", sans-serif;
          font-size: .8em;
          font-weight: 700; }
        .Slider .Slider-inner .Slide .info .cat-default {
          background-color: rgba(162, 162, 162, 0.19); }
        .Slider .Slider-inner .Slide .info .cat-Nacional {
          background-color: rgba(162, 162, 162, 0.19); }
        .Slider .Slider-inner .Slide .info .cat-Internacional {
          background-color: rgba(162, 162, 162, 0.19); }
        .Slider .Slider-inner .Slide .info .s-title {
          display: block;
          margin-top: 10px;
          padding-left: 10px;
          width: 96%;
          overflow: hidden;
          height: 40px; }
          .Slider .Slider-inner .Slide .info .s-title a {
            color: white;
            font-family: "Archivo Narrow", sans-serif;
            font-size: 1.1em;
            font-weight: 700;
            text-decoration: none; }
@-moz-document url-prefix() {
  .Slider .Slider-inner .Slide .info .s-title a {
    font-size: 1em;
    width: 400px; } }
    .Slider .Slider-inner .Slide-current {
      z-index: 1;
      opacity: 1; }
    .Slider .Slider-inner .Nav {
      display: block; }
    .Slider .Slider-inner .RLBtns {
      position: absolute;
      z-index: 2;
      top: 120px;
      left: 10px;
      right: 10px;
      opacity: 0; }
      .Slider .Slider-inner .RLBtns .RBtn, .Slider .Slider-inner .RLBtns .LBtn {
        position: absolute;
        display: inline-block;
        width: 46px;
        height: 46px;
        top: 40px; }
      .Slider .Slider-inner .RLBtns .RBtn {
        right: 0; }
      .Slider .Slider-inner .RLBtns .LBtn {
        left: 0; }
      .Slider .Slider-inner .RLBtns .RBtn:before, .Slider .Slider-inner .RLBtns .LBtn:before {
        display: block;
        content: "";
        padding: 5px;
        width: 36px;
        height: 36px;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.4);
        background-repeat: no-repeat;
        background-position: center center; }
      .Slider .Slider-inner .RLBtns .RBtn:before {
        background-image: url(static/images/slider-arrow-right.png); }
      .Slider .Slider-inner .RLBtns .LBtn:before {
        background-image: url(static/images/slider-arrow-left.png); }
  .Slider .Pointers {
    position: absolute;
    left: 260px;
    top: 218px;
    margin: 0;
    padding: 0;
    width: 65%;
    list-style: none;
    text-align: center;
    z-index: 1; }
    .Slider .Pointers .Pointer {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-image: url(static/images/icon-pointerinactive.png);
      background-repeat: no-repeat;
      cursor: pointer;
      transition: .3s; }
      .Slider .Pointers .Pointer:hover {
        background-image: url(static/images/icon-pointeractive.png);
        background-repeat: no-repeat; }
    .Slider .Pointers .PointerCurrent {
      width: 20px;
      height: 20px;
      background-image: url(static/images/icon-pointeractive.png); }

.Slider:hover .RLBtns {
  opacity: .8; }

.streaming {
  display: inline-block;
  width: 475px;
  height: 300px; }

.Gallery {
  display: block;
  max-width: 960px; }
  .Gallery .Gallery-inner {
    position: relative;
    display: block;
    padding-left: 15px;
    padding-bottom: 15px; }
    .Gallery .Gallery-inner .Slide {
      display: none; }
      .Gallery .Gallery-inner .Slide > a {
        position: relative;
        display: block;
        max-width: 900px;
        overflow: hidden; }
        .Gallery .Gallery-inner .Slide > a img {
          display: block;
          width: 100%;
          height: auto;
          max-height: 650px; }
      .Gallery .Gallery-inner .Slide .info {
        display: block;
        margin-top: 50px;
        margin-left: 50px;
        position: absolute;
        left: 0;
        bottom: 0; }
        .Gallery .Gallery-inner .Slide .info .s-title {
          display: block;
          margin-bottom: 20px;
          width: 200px;
          margin-left: -30px; }
          .Gallery .Gallery-inner .Slide .info .s-title a {
            width: 100%;
            color: white;
            font-family: "Oswald";
            font-size: 1em;
            text-decoration: none;
            transition: .3s; }
            .Gallery .Gallery-inner .Slide .info .s-title a:hover {
              color: #333333; }
    .Gallery .Gallery-inner .Slide-current {
      width: 620px;
      display: inline-block;
      position: relative; }
    .Gallery .Gallery-inner .Nav {
      justify-content: center;
      padding: 6px;
      display: inline-block;
      right: 177px;
      position: relative;
      top: 0px;
      background-color: rgba(255, 255, 255, 0.37); }
      .Gallery .Gallery-inner .Nav .Thumb {
        margin: 0 5px;
        opacity: .6;
        border: 3px solid #DADADA;
        transition: .3s;
        position: relative; }
        .Gallery .Gallery-inner .Nav .Thumb:hover {
          border-color: #E79600; }
        .Gallery .Gallery-inner .Nav .Thumb .Thumb-title {
          position: absolute;
          top: 0;
          right: -320px;
          width: 300px;
          color: white;
          font-weight: 700; }
      .Gallery .Gallery-inner .Nav .ThumbCurrent {
        opacity: 1;
        border: 3px solid #AC1A2F; }
    .Gallery .Gallery-inner .RLBtns {
      position: absolute;
      top: 42%;
      left: 16px;
      width: 46%;
      max-width: 620px; }
      .Gallery .Gallery-inner .RLBtns .LBtn {
        float: left;
        width: 48px;
        height: 48px;
        background-color: rgba(0, 0, 0, 0.4);
        background-image: url(static/images/slider-arrow-left.png);
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
        transition: .3s; }
        .Gallery .Gallery-inner .RLBtns .LBtn:hover {
          background-color: black; }
      .Gallery .Gallery-inner .RLBtns .RBtn {
        float: right;
        width: 48px;
        height: 48px;
        background-color: rgba(0, 0, 0, 0.4);
        background-image: url(static/images/slider-arrow-right.png);
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
        transition: .3s; }
        .Gallery .Gallery-inner .RLBtns .RBtn:hover {
          background-color: black; }
    .Gallery .Gallery-inner .Pointers {
      position: absolute;
      left: 0;
      bottom: 10px;
      margin: 0;
      padding: 0;
      width: 65%;
      list-style: none;
      text-align: center; }
      .Gallery .Gallery-inner .Pointers .Pointer {
        display: inline-block;
        margin-right: 5px;
        width: 16px;
        height: 16px;
        background-color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        transition: .3s; }
        .Gallery .Gallery-inner .Pointers .Pointer:hover {
          background-color: #AC1A2F; }
      .Gallery .Gallery-inner .Pointers .PointerCurrent {
        width: 20px;
        height: 20px;
        background-color: white; }



/*# sourceMappingURL=maps/sliderposts.css.map */
